[2018-12-16 15:18] Tan-nn opened #1 "Can't Install android app when add "admob_flutter: ^0.1.2" to pubspec.yaml"
I have tried more emulator version from API 23---> 28 got the same issue, that can not install my app
@YoussefKababe Can you guide me how can use your lib?

Info:

 **$flutter doctor**

[code]

**$Flutter run -v**
[code]

[2018-12-16 15:37] YoussefKababe commented on #1
Hi @Tan-nn! There's clearly an issue with your app's `AndroidManifest.xml` file. Did you add your Admob app id to it? Your app will always crash and fail to start if you don't! So make sure you have this on your `AndroidManifest.xml`:

[code]

[2018-12-16 16:09] YoussefKababe commented on #1
@Tan-nn Please close ticket if the issue was resolved for you!

[2018-12-17 02:36] Tan-nn commented on #1
@YoussefKababe thanks for your reply. It's my mistake
Awesome!

[2018-12-19 03:33] kmcgill88 opened #2 "Need iOS help?"
Hi @YoussefKababe,

Awesome work on this plugin! I have an immediate need for banner and interstitial on Android __and__ iOS. I'm newer to Flutter and am still researching PlatformViews however I have experience in iOS.  Are you open to PR's?

[2018-12-19 03:42] YoussefKababe commented on #2
Hi @kmcgill88! Happy that you found this useful and want to contribute. Thank you so much! I regret to tell you that the plugin is not open to PRs at the moment. It will be later when I feel it's in a good shape and has everything I planned to build. And between, I've made some good progress on iOS already and will release it in the next days!

[2018-12-19 03:52] kmcgill88 commented on #2
I understand completely. I will patiently wait to see your iOS work! In the meantime I will study up on the `PlatformViews` so I can help with some PR's if needed. Cheers!

[2018-12-19 04:05] YoussefKababe commented on #2
Sounds amazing! This article from Felix was my starting point in the world of PlatformViews: https://medium.com/flutter-community/flutter-platformview-how-to-create-flutter-widgets-from-native-views-366e378115b6

There's also this recent one for creating PlatformViews with Swift: https://medium.com/@phoomparin/how-to-use-native-uis-in-flutter-with-swift-platform-view-8b4dc7f833d8

And there's as w

[2018-12-19 04:18] kmcgill88 commented on #2
Lol, I was just reading one of those! Thanks for sharing!

[2018-12-19 07:17] Purus opened #3 "Conflict with Android dependency 'com.google.android.gms:play-services-measurement-base'"
Using this plugin along with the latest version of  Firebase, gives the below issue while building. I guess this is due to the version conflicts of the dependency.

[code]

[2018-12-19 09:33] YoussefKababe commented on #3
Hi @Purus! I think this is a know issue and Google has some words about it here in their release notes: https://developers.google.com/android/guides/releases#november_13_2018

I know only a little about Gradle and Android dependency management. Can you try forcing version for that dependency to `16.0.4` or `16.0.5` and see if it solves your issue?

[2018-12-19 09:55] gctommy commented on #3
@Purus — I'm using this plugin as well and ran into similar problems. What worked for me was updating all the firebase dependencies to their latest and then adding all the Kotlin dependencies that were not in my project for BOTH the build.gradle and app level build.gradle

Add lines 2 and 10 from: https://github.com/YoussefKababe/admob_flutter/blob/master/example/android/build.gradle#L2
Add lines

[2018-12-19 15:04] Purus commented on #3
@gctommy Can you share me how you updated all firebase dependencies in the app level build.gradle file? I am new to Android..
@YoussefKababe Thanks. I am trying to find out how to update such dependencies.

[2018-12-19 16:44] Purus commented on #3
I reverted back all the changes mentioned by @gctommy and added the code mentioned by @apitutinteractive .

And voila.. it's now working. Thanks all for the work solution. Great guys..

[2018-12-19 16:44] #3 closed

[2018-12-19 18:36] Purus opened #4 "Support for Test Devices"
Is it possiblbe to have support for Test devices?

Currently I am getting error code of 3 when trying to display my ads, which means that I dont have ads to be displayed. So I want to use some test ads. For the same, I want my device to be a test device.

[2018-12-20 03:37] Purus commented on #4
Thanks for details. When I use the firebase admob plugin I am able to see
actual ads but not with us.

Thanks,

Purusothaman Ramanujam

On Thu, Dec 20, 2018, 9:00 AM apitutinteractive <notifications@github.com
wrote:

[2018-12-21 09:09] gcshri commented on #4
I feel that there is a subtle difference between using test unit IDs and adding your device as a test device.

With test units - you see the simple test ad. You also need to refactor your code before release. :)
With test devices - you see actual ads from your unit, but they're in "test mode"

You should see a message that says

`
Use AdRequest.Builder.addTestDevice("<removed>") to get test ads on

[2018-12-21 12:00] YoussefKababe commented on #4
@gcshri I know the difference between the two, I just still didn't have the opportunity to implement remaining stuff. About refactoring, did you actually check the code? Found any weird/messy parts? Let me know so I can take them in consideration!

[2018-12-21 13:47] ParthAggarwal1996 opened #5 "Running 'flutter run' on a physical device and there is a issue."
I ran the code by putting all the same codes for Banner Ads as per the instruction by YoussefKababe. But this error appears while running **Android dependency 'com.google.android.gms:play-services-measurement-base' has different version for the compile (16.0.3) and runtime (16.0.4) classpath. You should manually set the same version via DependencyResolution**

Please someone provide me the solutio

[2018-12-22 01:57] gcshri commented on #5
https://github.com/YoussefKababe/admob_flutter/issues/3 has the solution

Use the subprojects snippet to hardwire the dependencies in gradle.

[2018-12-23 11:04] superciccio opened #6 "doesn't build apk"
Hi I'm trying to use your plugin but I can't get to build the apk.

below my pubspec.yaml

[code]
this is the error

Best

[2018-12-26 09:53] YoussefKababe commented on #6
Hi, please check #3

[2018-12-27 08:14] gcshri opened #7 "Feature Request: Targeting Support (Similar to Official Plugin)"
@YoussefKababe - Just adding a request to get to, whenever you can in the future.

Can we get targeting support? Lack of keywords and contenturl seems to make a radical difference in the quality of ads that we see using this plugin.

From the original plugin docs:

[code]

[2018-12-27 09:05] superciccio commented on #6
Hi, I tried didn't help... still facing same error

[2018-12-27 09:20] superciccio commented on #6
By the way when I have your plugin enabled I have this error

`> com.android.build.api.transform.TransformException: Error while generating the main dex list.
`

[2018-12-28 04:51] kmcgill88 commented on #2
Hey @YoussefKababe, any updates on iOS?

[2018-12-29 13:07] sankaraya opened #9 "Doesn't launch debug apk"
Hi
when I trying this plugin with cloud_firestore    plugin debug apk build failed and give me flowing error.

* What went wrong:
Failed to capture fingerprint of input files for task ':app:checkDebugClasspath' property 'runtimeClasspath' during up-to-date check.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan t

[2018-12-31 01:16] gcshri commented on #9
Take a look at forcing dependencies in gradle.

https://github.com/YoussefKababe/admob_flutter/issues/3#issuecomment-448639210

[2018-12-31 10:14] sankaraya commented on #9
yeah its working  with test App ID from Admob but not working my Admob App ID
its showing .....
`I/Ads     (26887): No fill from ad server.
W/Ads     (26887): Failed to load ad: 3
I/flutter (26887): Admob banner failed to load. Error code: 3`

[2019-01-01 06:50] theneshfmt opened #10 "Couldn't build apk on simulator. Conflict with Android dependency com.google.android.gms:play-services-ads-base"
Using this plugin along with the firebase admob, gives the below issue while building. I guess this is due to the version conflicts of the dependency.

Launching lib/main.dart on Android SDK built for x86 in debug mode...
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)
registerResGeneratingTask is deprecated, use registerGeneratedResFolders(FileCollection)

[2019-01-02 11:43] wasibpkr opened #11 "Error while building for iOS Simulator"
Terminal. Xcode Output

    /Users/wasibe/development/tools/flutter/.pub-cache/hosted/pub.dartlang.org/admob_flutter-0.1.2/ios/Classes/AdmobBanner.swift:6:9: error: editor placeholder in source file
            <#code#>
            ^
    /Users/wasibe/development/tools/flutter/.pub-cache/hosted/pub.dartlang.org/admob_flutter-0.1.2/ios/Classes/AdmobBannerFactory.swift:7:9: error: editor placeholder

[2019-01-02 11:44] wasibpkr commented on #11
And Working Fine in Android Devices

[2019-01-05 09:46] fixer112 opened #12 "App runs with debug but wont build with realease"
I have the following error when i run flutter run --realease or flutter build apk command
C:\Users\ABUDHABI\Documents\flutter_project\wordcomb>flutter run --release
Initializing gradle...                                       5.2s
Resolving dependencies...                                   21.9s
Launching lib/main.dart on SM G960U in release mode...
Gradle task 'assembleRelease'...

FAILURE: Build

[2019-01-05 09:47] fixer112 commented on #12
What can be the issue? please any help to fix this

[2019-01-05 11:19] fixer112 commented on #12
android/build.gradle
buildscript {
    repositories {
        google()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:3.2.1'
    }
}

allprojects {
    repositories {
        google()
        jcenter{ url "http://jcenter.bintray.com/"}
    }
}

rootProject.buildDir = '../build'
subprojects {
    project.buildDir = "${rootProject.buildDir}/${project.na

[2019-01-05 11:49] fixer112 commented on #12
fixed, now release built with classpath 'com.android.tools.build:gradle:3.1.2' in gradle.build, but app crashes in release but runs on debug, any idea?

[2019-01-05 12:51] fixer112 commented on #12
all fixed removing minifyEnabled true fixed it , but app wont be minified, why is minifying not working?

[2019-01-05 12:59] YoussefKababe commented on #12
Hi there! Thanks for your reports! I will be looking into this later today since many people have reported the same issue.  Will keep you updated!

[2019-01-09 18:31] ethanblake4 commented on #2
@kmcgill88 : since @YoussefKababe seems to be MIA, would you be interested in collaborating on a fork of this package with iOS support? I can handle future updates on the Android side, but I don't have a ton of iOS experience. Email me ethanblake@gmail.com

[2019-01-12 19:13] #9 closed

[2019-01-13 23:21] kyungjoongo opened #13 "This plug-in can not be installed."
This plug-in can not be installed.
Do not you develop this anymore?

[2019-01-17 00:48] kyungjoongo commented on #10
Same Issue

[2019-01-17 00:51] kyungjoongo commented on #10
To solve this,
Add the following at the bottom of /android/app/build.gradle.
-----------------------------------------------------------------

configurations.all {
    resolutionStrategy {
        force 'com.android.support:support-v4:27.1.1'
        force 'com.google.android.gms:play-services-ads:17.0.0'
    }
}

[2019-01-17 01:27] kyungjoongo opened #14 "Interstitials will not be called."
There is no trouble installing the package.
Then install the firebase_admob package
Running interstitial ads works well.

However, when you install the admob_flutter package and invoke interstitial ads
Interstitials will not be called.
(interstitialAd.load (); When I execute,The ad will not load.)

Can you use it in duplicate?

So I had to change to the firebase_admob package.

[2019-01-18 03:01] kmcgill88 commented on #2
Hi @ethanblake4, I found another solution for now on iOS. Hopefully @YoussefKababe get's some time to work on iOS. This is a promising plugin. If he doesn't respond soon I might take you up on the offer though.

[2019-01-22 00:33] Bgumel commented on #13
the same issue when I import the package
`Target of URI doesn't exist: 'package:admob_flutter/admob_flutter.dart'`
and the package exists in
`C:\Users\{PC Name}\AppData\Roaming\Pub\Cache\hosted\pub.dartlang.org`

[2019-01-22 20:13] YoussefKababe commented on #2
Hi @ethanblake4 and @kmcgill88! I'm really sorry for not pushing updates for this package, and not having time to add iOS support. I'm having some busy days at my current day job, a lot of work and much time needed there. I will be happy to receive your PRs here guys, and I will also be back to work on this ASAP. I promise!

[2019-01-23 01:35] turanmahmudov commented on #6
this affects me too.

[2019-01-24 13:12] Mapk26 commented on #11
Same issue,
all is (almost) fine with android but not building for iOS.

Any update about it?

PS: @YoussefKababe great job, I hope you can continue to improve this plugin.

[2019-02-03 07:56] Purus opened #15 "How to use handleEvent method?"
How do I define Listener for a Reward Video while showing it? The docs shows to add listeners when creating the initial AdmobReward object.

But I want to use it later in the life cycle of the page.

I see there is a method called `handleEvent`.. but how do I pass values to it? Can you please share some example on using this method.

[2019-02-06 17:50] ron109 opened #16 "Ads shows on debug mode but not on client devices"
Hey, I have used this library in order to present banner ads.
In the debug mode it shows me local ads..
I published my app, but when users download it all it show is white blank banner..
my app id and banner id are correct because on debug it does show me local real ad but under test ad (i have replaced the ids and made sure they are all right)
any solution?

[2019-02-10 16:51] Purus opened #17 "Update to AndroidX"
As the support the old Android support libs are going to be stopped, it is now required to update the package to use AndroidX.

All the official first-party plugins are already migrated to AndroidX support libs by the Flutter team.

[2019-02-16 22:41] kestasb opened #18 "Banner is re-created/re-loaded with each Navigator push()/pop()"
Banner is reloaded with each Navigator push()/pop(), both onBannerCreated and AdmobAdEvent.loaded are called even the banner is a child of a const StalessWidget, whose build() method isn't called.
Admob guidelines does not recommend to refresh banner manually.
Is it possible to avoid this behaviour?

[2019-03-07 03:17] praven07 commented on #2
Hey @YoussefKababe are you gonna be doing the iOS support?

[2019-03-11 18:02] ArthurianX commented on #2
@kmcgill88 - What is your solution for iOS ?

[2019-03-11 18:18] kmcgill88 commented on #2
@ArthurianX I have an existing lib for ios and admob. Check it out, https://github.com/kmcgill88/McAdViewController

It works but causes initial Flutter start time to be a bit slow. When I get some time I plan on adoing support to this lib for Flutter.

[2019-03-11 19:09] ArthurianX commented on #2
@kmcgill88 - Thanks!

[2019-03-11 20:44] kapil708 opened #19 "Execution failed for task ':admob_flutter:verifyReleaseResources'."
When I am trying to build apk it give error

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':admob_flutter:verifyReleaseResources'.

  Output:  /Users/kapil/Desktop/FlutterProjects/DemoApps/ImageView/eq_educationquiz/build/admob_flutter/intermediates/res/merged/release/values/values.xml:200: error: resource android:attr/fontVariationSettings not found.
  /U

[2019-03-14 20:36] LikeMindsE commented on #19
I am also getting that same error when I attempt to build apk.

[2019-03-15 17:39] Purus commented on #19
This could be related to AndroidX. This package is yet to be migrated to AndroidX.

[2019-03-16 21:59] c4talyst commented on #2
Anyway some of this work can be PR’d into the firebase_admob plug-in? This is amazing - but have a need for iOS too

[2019-03-17 10:27] Purus commented on #17
I tried migrating to AndroidX but failed.. Any help would be appreciated to port this package to AndroiX. this is the only plugin that can help wtih Native view.

[2019-03-20 17:25] davidgalarza commented on #17
I try to follow this:
https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility#for-plugin-maintainers-migrating-a-flutter-plugin-to-androidx, but I got that "No usages found".

[2019-03-25 15:25] Purus commented on #17
Did you had any luck with the update? @davidgalarza

[2019-03-30 17:49] davidgalarza commented on #17
No @Purus, I was not lucky, I have problems following the migration guide.

[2019-04-11 20:57] thaerhamza commented on #12
please if exist fix this issue I will be waiting

[2019-04-11 21:15] thaerhamza commented on #10
not working

[2019-04-15 15:18] angel1st commented on #17
@YoussefKababe - consider #20 is ready to merge, could please shed some light on the timing? Thanks!

[2019-04-15 15:18] #17 closed

[2019-04-15 15:19] YoussefKababe commented on #17
@angel1st it's merged now! Thanks for the support everyone!

[2019-04-16 09:11] yiss commented on #19
Please update to the new version 0.2.0

[2019-04-18 07:42] TheAlexandru commented on #18
Have you found any solutions to that ? I have the same problem.
Also most of the time I don't see any ads at all...

[2019-04-19 10:10] fengguixian opened #21 "Unhandled Exception: MissingPluginException(No implementation found for method load on channel admob_flutter/interstitial)"
[VERBOSE-2:ui_dart_state.cc(148)] Unhandled Exception: MissingPluginException(No implementation found for method load on channel admob_flutter/interstitial)
#0      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:300:7)
<asynchronous suspension>
#1      AdmobInterstitial.load (package:admob_flutter/src/admob_interstitial.dart:34:20)
<asynchronous suspension>
#2

[2019-04-22 16:43] Long2k1708 opened #22 "'admob_flutter/admob_flutter-Swift.h' file not found"
I'm using XCode 10.2.1 to build. After install this library, i've got this error in AdmobFlutterPlugin.m
[code]
How to fix this error? :(
And, how to skip install this library when i execute `pod install`? Because i want this library only work with android.

[2019-05-06 07:02] SachinGanesh commented on #2
@kmcgill88 Hi, We @dreamsoftin have implemented **Facebook Audience Network** for Flutter (https://github.com/dreamsoftin/facebook_audience_network). Currently the plugin is **Android only** and it supports Banner, Interstitial, Rewarded Video, In Stream Video & Native Ads. I'm looking for some one who can help us in implementing  iOS part of it. May be you can help us in this?

[2019-05-10 11:48] jendy2012 commented on #22
https://github.com/ko2ic/image_downloader/wiki#your-appdelegate-is-the-case-of-objective-c

[2019-05-11 15:54] veetaw commented on #21
Did you manage to solve the issue? I'm having the same problem too

[2019-05-15 19:09] plokmij opened #23 "Works fine in debug mode but crashes on startup in release mode"

[2019-05-17 12:40] kmcgill88 commented on #2
@SachinGanesh Thanks for reaching out. Right now I think I'm going to stick to getting `admob_flutter` up and running for iOS. @YoussefKababe you can add me as a maintainer if you'd like. I don't have a ton of time to dedicate to this project but having more than 1 able to merge PR's might be good.

[2019-05-17 15:21] YoussefKababe commented on #2
@kmcgill88 I have just added you as a collaborator. Thank you so much for your time and your help!

[2019-05-18 07:26] singh-saheb opened #24 "Cant resolve symbol io ,MethodCallHandler etc"

[2019-05-18 15:34] kmcgill88 commented on #24
Can you add more context to this issue please. What have you tried?

[2019-05-19 00:29] kmcgill88 commented on #21
Can you  add more context to this issue. I assume this was on ios.

[2019-05-20 15:40] kmcgill88 commented on #2
@YoussefKababe I got Banners working on iOS last night! Still working out some issues though. For some reason, I wasn't seeing the params passed from the Flutter side. I'm sure I'll get it. I'll keep you posted.

I plan to get Interstitial and rewards next then I will PR for review.

[2019-05-21 01:21] kmcgill88 commented on #2
If anyone else runs into an issue with a platform view not receiving args from Flutter, [this post](https://github.com/flutter/flutter/issues/28124#issuecomment-465944104) was the answer!

[2019-05-21 06:09] cimplesid opened #25 "do not support for flutter 1.6"

[2019-05-22 19:40] TeuryBazzo opened #26 "Upload Readme version of admob_flutter for AndroidX"
I was trying generate apk of my app and i used the version admob_flutter: "^0.1.2", but this version don't support androidx, so i upload to  admob_flutter: "^0.2.0" and thats work ! i see this alteration in issuie #17, it would be interesting alter readme ?

[2019-05-23 00:51] kmcgill88 commented on #26
Hi @TeuryBazzo, I agree this should be added to the README. Really the whole package should have been bumped to `1.0.0` since its a major, breaking, change.

Would you be willing to make the PR to update the README with this info?

[2019-05-23 01:05] kmcgill88 commented on #23
Did you manage to solve this? If so can you please share.

[2019-05-23 01:08] kmcgill88 commented on #12
#23 is a duplicate of this. Closing #23 .

[2019-05-23 01:08] kmcgill88 commented on #23
Same as #12

[2019-05-23 01:08] #23 closed

[2019-05-23 01:22] kmcgill88 commented on #5
Sounds like this has been resolved. Closing for now. If it's still an issue we can re-open later.

[2019-05-23 01:22] #5 closed

[2019-05-23 01:24] kmcgill88 commented on #7
@Purus can you please link documentation of the Admob library deprecating target info?

Thanks!

[2019-05-23 01:26] kmcgill88 commented on #14
I think the answer to this is, pick one library or the other. Closing this issue for now.

[2019-05-23 01:26] #14 closed

[2019-05-23 01:56] gcshri commented on #7
@kmcgill88 Look for the 2018-05-10 update in the release notes:

https://developers.google.com/admob/android/rel-notes

[2019-05-23 17:44] #26 closed

[2019-05-24 09:35] Azhankhan03 opened #28 "App crashes on startup for firebase_admob dependency 0.8.0+4"
I was using fiirebase_admob dependency 0.5.5 which was working great but when I went to release the apk version by flutter build apk --release it gave me error so I had to change the dependency from 0.5.5 to 0.8.0+4 and add API 'com.google.firebase:firebase-ads:16.0.1' in dependency of build>gradle this gave me the app-release.apk but causing app is crashing on startup.
I am getting the error duri

[2019-05-26 16:28] mmahkamov commented on #22
This happens when your Flutter app was created without Swift support on the iOS side.

Read this comment to add Swift support to your Flutter app: https://github.com/flutter/flutter/issues/16049#issuecomment-382629492

For Xcode 10.2 you'll need to specify 4.0, 4.2 or 5.0 as SWIFT_VERSION.

Worked for me.

[2019-05-27 09:27] rostopira commented on #16
I had similar issue, found out, that you are required to set that app contains adds in Google Play Console

[2019-05-27 11:57] TeuryBazzo opened #29 "On release AdMob Banner don't show"
When i  put unit ID of prodution the banner don't show, but unit ID of test "ca-app-pub-3940256099942544/6300978111" this work.

my code
`
AdmobBanner(
            adUnitId: 'ca-app-pub-4310356880653109/2595718186',
            adSize: AdmobBannerSize.FULL_BANNER,
          ),
`

Someone went through this ?
my app is on playstore, [here](https://play.google.com/store/apps/details?id=com.exemple.se

[2019-05-28 13:16] kmcgill88 commented on #2
@YoussefKababe and anyone following this issue. *Progress update:* I have Interstitial ads working! I think I will have time this week to finish rewards. Then this plugin will have feature parity on Android and iOS! 🎉

@YoussefKababe I'm guessing you are the only one that has `pub` permission to publish an update. A Are you interested in adding me or would you prefer to publish when this ticket is

[2019-05-28 13:20] kmcgill88 commented on #29
Was it a new ad unit id? I've had new id's take some time to _activate_. Also, did you mark your app as having ads in it on the Play Store?

[2019-05-28 17:10] TeuryBazzo commented on #29
yes, id is new and app was marked as contains ad.
Do you know how much time to activate?

[2019-05-29 04:46] kmcgill88 commented on #7
@Purus that link says
[code]

Is this all targeting info?

[2019-05-29 04:53] Purus commented on #7
Yes. If you have noticed, the office flutter plugin for Admob has also
marked these parameters for targetting as depreciated.

Thanks,

Purusothaman Ramanujam

On Wed, 29 May, 2019, 10:16 AM Kevin McGill, <notifications@github.com>
wrote:

[2019-05-29 04:57] kmcgill88 commented on #7
@Purus, interesting I didn't know that! Sounds like we can close this issue.

[2019-05-29 05:26] gcshri commented on #7
These two do add relevancy.

Anyways, your call. We've moved to the Ad Manager plugin.

[2019-05-29 11:28] eladcandroid opened #31 "Feature - Select banner spacing background color"
![Screen Shot 2019-05-29 at 14 27 57](https://user-images.githubusercontent.com/13297000/58553608-fe159300-821d-11e9-8e64-fabc7d709e37.png)

[2019-05-29 14:55] kmcgill88 commented on #7
@gcshri [flutter_google_ad_manager](https://github.com/ko2ic/flutter_google_ad_manager) looks very nice too! If anyone else finds this issue, this [Stackoverflow post](https://stackoverflow.com/questions/23340455/difference-between-admob-and-dfp-networks) has a good explanation of the difference between DoubleClick for Publishers (DFP) and Admob. Seems like a slightly different use case to me. We

[2019-05-29 14:55] #7 closed

[2019-05-30 03:20] #2 closed

[2019-05-30 06:57] nemoryoliver opened #32 "Unable to determine Swift version for the following pods: admob_flutter"
Getting this error using v0.3.0

[code]

[2019-05-30 09:09] nemoryoliver commented on #32
Fixed it by switching from Obj-C to Swift /ios folder

[2019-05-30 09:11] nemoryoliver opened #33 "Crashing on iOS: Trying to embed a platform view but the PaintContext does not support embedding"
**ERROR**

[code]

[2019-05-30 09:16] nemoryoliver commented on #33
Fixed it by adding this to the root of info.plist _please mention this as a breaking change for now._

[code]

[2019-05-30 09:20] nemoryoliver commented on #33
Still crashing though when it gets the error

`Unsupported value: Error Domain=com.google.admob Code=8 "Request Error: Cannot find an ad network adapter for mediation." UserInfo={NSLocalizedDescription=Request Error: Cannot find an ad network adapter for mediation.} of type GADRequestError`

[2019-05-30 10:49] kmcgill88 commented on #33
Adding

<key>io.flutter.embedded_views_preview</key>
<true/>

Is noted in the read me.

@nemoryoliver I got the same error while using the test ad unit id's in the example. However I pull this into my app with my real ad unit id's and things were fine.

I also confirmed the -Obj-C flag is set.

Are you only seeing this error in the example app?

[2019-05-30 11:05] kmcgill88 commented on #32
Interesting, I always use swift in my projects so I didn't run into this. Easy enough fix to update the podspec. Glad you found a work around for now.

PR's welcome! 😃 otherwise I'll get this added next chance I get.

[2019-05-30 11:09] mmahkamov commented on #33
It crashes on any error - for example, if the ad fails to load because there's no ad to show (using real IDs).

The crash happens because the method channel cannot encode the NSError type - ```failedToLoad``` expects an int.

I had to remove the error for now:

[code]

It stops crashing on error.

I guess passing ```error.code``` instead of ```error``` itself should also work.

[2019-05-30 11:10] nemoryoliver commented on #33
Sorry I got so excited and didn't think of the updated README. Thank you.
I can confirm the Admob warning isn't actually causing the crash. I'm still figuring out what's really causing it. Also, I'm running it on my app and simulator.

[2019-05-30 11:14] nemoryoliver commented on #33
Thanks for the workaround, in my case it's not crashing when I get an Admob Warning only when I used the ConditionalBuilder package

[2019-05-30 11:14] kmcgill88 commented on #28
firebase_admob is a different project than this repo. Did you intend to create this issue here?

[2019-05-30 11:22] kmcgill88 commented on #16
@ron109 what's the status of this? Get this worked out?

[2019-05-30 11:24] kmcgill88 commented on #13
What's the status of this issue @kyungjoongo @Bgumel?

[2019-05-30 11:27] kmcgill88 commented on #11
Version 0.3.0 has the first implementation for ios added. @Mapk26 @wasibpkr

[2019-05-30 11:30] kmcgill88 commented on #6
@turanmahmudov @superciccio any updates? If this is working for you I'll close this issue.

[2019-05-30 11:50] superciccio commented on #6
@kmcgill88  I haven't tried in a long time. I will try in the weekend

[2019-05-30 12:17] kmcgill88 commented on #33
@nemoryoliver good find! My bad on the bug, I missed that. I bet [this line](https://github.com/YoussefKababe/admob_flutter/blob/master/lib/src/admob_event_handler.dart#L17) on the Dart side could, or somewhere in between, cause the crash. I will get a PR out today to fix.

`channel.invokeMethod("failedToLoad", arguments: error.code)` seems to work too. My gut says it should be something like this

[2019-05-30 13:28] mmahkamov commented on #33
Sorry, ```channel.invokeMethod("failedToLoad", arguments: error.code)``` would be wrong.
I checked the Dart side and it expects ```Map<String, dynamic>```

The Kotlin code passes the error code as ```hashMapOf("errorCode" to errorCode)```

I guess you could pass ```["errorCode": error.code, "errorMessage": error.localizedDescription]``` from Swift.

[2019-05-30 17:01] kmcgill88 commented on #33
Thanks @mmahkamov I'll make the change!

[2019-05-30 17:09] kmcgill88 commented on #33
[code]

Just tested this locally and failing to load a banner does not crash the app anymore. PR soon!

[2019-05-30 17:36] mmahkamov commented on #18
I was having a similar issue when the AdmobBanner widget was used in a ListView.

I wrapped AdmobBanner into a custom AdmobBannerWrapper stateful widget with AutomaticKeepAliveClientMixin - the issue was resolved.

[2019-05-30 17:39] mmahkamov commented on #18
I think the AdmobBanner widget should be implemented with AutomaticKeepAliveClientMixin out of the box because redundant reloading of banners should be avoided (because it generates false impressions?). We could optionally pass the value for the wantKeepAlive property in the constructor.

[2019-05-31 01:40] #33 closed

[2019-05-31 11:21] TeuryBazzo commented on #29
Oh man, my fault.
I did not know that payment method is required in a admob account, now i complete the form and the banner starting show kk

[2019-05-31 11:21] #29 closed

[2019-05-31 15:09] kmcgill88 commented on #32
This should be fixed in 0.3.1. @nemoryoliver can you confirm? Then we can close this issue.

[2019-06-01 07:12] superciccio commented on #6
Just tried, last version of the plugin and flutter beta. everything is fine :)
so whatever was problem is now resolved I can close the issue.
thanks for the patience

[2019-06-01 07:12] #6 closed

[2019-06-03 15:37] #32 closed

[2019-06-03 15:45] kmcgill88 commented on #31
@eladcandroid I agree with this feature request. Do you have any capacity to work on it?

[2019-06-04 05:27] elkad opened #35 "IOS does not display banner ads after Navigate to a new screen"
Hi. I have used admob which is recent ios version. i have got problem in displaying banner when i navigated from main page to a new screen. ( it is correctly working to display in main page)
could you please check this out?

[2019-06-04 11:12] Long2k1708 commented on #22
Thank you so much! I fixed this problem! <3

[2019-06-04 11:12] #22 closed

[2019-06-04 17:59] singh-saheb commented on #24
i just added the plugin to my existing flutter app and these errors popped out

[2019-06-05 08:48] nemoryoliver commented on #33
Hi guys! Been out for days sorry for not able to update here. All good now with the latest version! Great job and thanks guys!

[2019-06-05 08:51] nemoryoliver commented on #32
All good now! Thanks a lot

[2019-06-09 22:20] matte5031 opened #36 "Android app crashes on startup"
Hello!

As soon as I add this plugin and try to run the app with both debug and release mode (tried in real device and simulator) it just crashes instantly. I've added this to the AndroidManifestaswell:

    <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="ca-app-pub-3940256099942544~3347511713"/>

Flutter version = 1.6.3 (currently latest beta version

[2019-06-09 22:45] kmcgill88 commented on #36
Are you using Android X? This plugin requires it. If you don't want to use Android X then downgrade versions.

[2019-06-09 23:01] matte5031 commented on #36
Hello! @kmcgill88
Yes I am using Android X

[2019-06-09 23:53] matte5031 commented on #36
I saw another open issue where it says "do not support for flutter 1.6"
Is that why it won't work for me maybe? I doesn't support flutter version 1.6 and above? (I use version 1.6.3)

[2019-06-10 02:04] kmcgill88 commented on #36
@matte5031 could be! I haven't tried the plugin on `1.6.3`. I've only used the stable `1.5.3`. If you debug more and figure something out please post back to this issue.

[2019-06-10 19:59] matte5031 commented on #36
Okay so the root of the problem was that the meta-data was in the wrong place, it must be within </activity> and </application> tags, this can be closed. thanks

[2019-06-11 01:57] kmcgill88 commented on #36
Glad you figured it out!

[2019-06-11 01:57] #36 closed

[2019-06-12 00:50] theneshofficial commented on #35
Facing the same issue, below is my error log

[code]

[2019-06-12 00:54] theneshofficial opened #37 "iOS banner ads throws exception when navigate to new screen."
@kmcgill88  iOS banner ads throws exception when navigate to new screen. Below is my error log:

[code]

[2019-06-12 02:05] kmcgill88 commented on #35
Hard to tell what is causing this from the stack trace. I don't have time to debug this right now. If anyone does I'd suggest launching the `example` app from Xcode and see if something is crashing on the Swift side or Dart side.

[2019-06-12 02:06] kmcgill88 commented on #37
Closing this issue in favor of, https://github.com/YoussefKababe/admob_flutter/issues/35

[2019-06-12 02:06] #37 closed

[2019-06-13 00:08] ShashankSirmour opened #38 "FAILURE: Build failed with an exception"
* What went wrong:
Execution failed for task ':app:preDebugBuild'.

when I add it with

flutter_downloader

[2019-06-16 17:45] ItsCalebJones opened #39 "iOS build issue - 'GADMobileAds' has no member 'start'"
Here is the error when running a build:

SwiftAdmobFlutterPlugin.swift:39:22: error: value of type 'GADMobileAds' has no member 'start'

[2019-06-17 12:52] ShashankSirmour commented on #38
the androidX problem I manage to resolve it thank you

[2019-06-17 12:52] #38 closed

[2019-06-17 14:10] ItsCalebJones commented on #39
I resolved this by having to force Cocoapods to update Firebase/Admob. Cleared the build cache and reloaded the project.

[2019-06-17 14:10] #39 closed

[2019-06-17 14:36] CosmoInSpace commented on #39
Would you mind elaborating on the process and perhaps send a gist?

[2019-06-17 16:07] CosmoInSpace opened #40 "iOS Build Issue - symbol(s) not found for architecture x86_64"
Summary
----
Hi, it seems that I'm struggling to make the dependency work.
After recurring failed attempts of trying to implement this, I've decided to post this here.
Any help would be appreciated.

Flutter Doctor
----
[code]

Description
----
I'm using multiple dependencies, most importantly:
[code]
are included.

After solving https://github.com/YoussefKababe/admob_flutter/issues/39 I found mys

[2019-06-17 16:14] ItsCalebJones commented on #39
Here is one way to do it: https://gist.github.com/mbinna/4202236

[2019-06-17 19:38] ItsCalebJones opened #41 "Android fails to build - AbstractMethodError"
Here's a weird one - not sure what's causing this but it's happening with the following error:

[code]

Flutter:
[code]

Gradle v4.1
[code]

[code]

Latest can be viewed here: https://github.com/ItsCalebJones/SpaceLaunchNow-Flutter/tree/dev-1.2

[2019-06-18 18:09] kmvignesh opened #42 "Adding add in iOS device calling build method continuously."
Hi, Today I tried to use this library to have ad on my app. I was working fine on android. But iOS devices was getting hanged all the time. So I did some debugging that time I found that adding "AdmobBanner" causing build method to call continuously.

[code]

This is the sample project code I created to debug the issue.

Steps:

1. Run the app on iOS device
2. Tap on "Show Ad"
3. Now the device wi

[2019-06-18 18:27] kmcgill88 commented on #42
Thanks for the detailed bug report @kmvignesh! I have an app using this on iOS and it too will occasionally "hang", but it is inconsistent. It might be a second or two but then continues to render. Are you experiencing that too or does the app just lock up forever?

[2019-06-18 23:38] matte5031 opened #43 "Error build for iOS"
Hello!

I have been trying to build for iOS this whole day without success unfortunately.
Tried both the stable and beta channel.
The error I get is the below:

The Swift pod `admob_flutter` depends upon `FirebaseCore`, `FirebaseInstanceID`, `GoogleUtilities`, and `nanopb`, which do not define modules.
    To opt into those targets generating module maps (which is necessary to import them from Swi

[2019-06-19 08:24] kmvignesh commented on #42
Sorry for the delay. It is happening always for me. I tried to include that on my app. It was hanging after 2-4 sec. I used the same code on new project. In that project also its hanging.

[2019-06-19 19:09] hyperpanthera opened #44 "admob_flutter/AdmobFlutterPlugin.h file not found |GeneratedPluginRegistrant.m"

[2019-06-20 13:24] ItsCalebJones commented on #41
Figured it out the compileSDKVersion and targetSDKVersion needed to match between my project and this library.

[2019-06-20 13:24] #41 closed

[2019-06-20 18:26] CosmoInSpace commented on #40
https://github.com/kiwi-bop/flutter_crashlytics/issues/37 solved the issue.

[2019-06-20 18:26] #40 closed

[2019-06-20 20:10] CosmoInSpace opened #45 "Android - Ad refusing to load | iOS - Ad freezes app"
Android
----
Here's a tricky one, whenever loading an ad on android I repetedly get:
[code]

![ezgif-1-81ee226b589a](https://user-images.githubusercontent.com/33470998/59878042-f924a900-93af-11e9-9733-d828862a41dc.gif)

iOS
----
![ezgif-1-71824d12284b](https://user-images.githubusercontent.com/33470998/59878180-53be0500-93b0-11e9-9aef-7bf48fc5a14d.gif)

iOS freezes and doesn't respond mere moments

[2019-06-20 20:16] CosmoInSpace commented on #45
might be related to https://github.com/YoussefKababe/admob_flutter/issues/18 https://github.com/YoussefKababe/admob_flutter/issues/42 and https://github.com/YoussefKababe/admob_flutter/issues/35

[2019-06-20 20:26] hyperpanthera opened #46 "SMART_BANNER causes error on iOS (iPad)"
LEADERBOARD etc. works.

[2019-06-21 07:33] AlexisThink opened #47 "onAdFailedToLoad: 3 (Android)"
When i run the app using a **real AdUnitId** that message appear. Banner o Interstitial, its the same.

But using the **TestUnitID** this error does not happend.

Whats mean the error 3, why and how can i fix that?

[2019-06-21 07:48] AnhTu6610 opened #48 "IOS: when ID admob does not exist, the application will be closed unexpectedly when calling .load ()"
This error only appears on IOS

Unsupported value: Error Domain=com.google.admob Code=1 "Request Error: No ad to show." UserInfo={NSLocalizedDescription=Request Error: No ad to show.} of type GADRequestError
*** First throw call stack:
(
	0   CoreFoundation                      0x00000001162081bb __exceptionPreprocess + 331
	1   libobjc.A.dylib                     0x00000001157a6735 objc_exception

[2019-06-21 09:46] sabdelhay commented on #36
Hi,
I'm facing the same problem here, so how to downgrade from AndroidX, it is really makes me too many problems with all AdMob dependencies. I would appreciate your help.
Thank you in advance.

[2019-06-24 04:11] diruuu commented on #42
I experience this too. In my case it's because I'm using scope_models. If I remove the scope_models listeners, the continuously rebuilding issue won't happen. I don't why. This is the only reason why I stop using this package. But flutter doesn't have any alternative to show admob as widget, so I guess I need to wait for solution here.

[2019-06-24 04:14] diruuu commented on #45
Any solution for this yet? I'm experiencing this issue too

[2019-06-24 04:46] cimplesid commented on #47
it is not actully an error but it means that there is no ad to load it will load when its available

[2019-06-24 07:34] CosmoInSpace commented on #42
@diruuu i can back this up with the `provider` package, same story.

[2019-06-24 09:11] CosmoInSpace commented on #42
i can back this up with the provider package, same story.

[2019-06-24 11:06] CosmoInSpace commented on #45
Perhaps mending this issue requires an option to reload the ad manually. It should fix the rebuilding issue and enables the ability to work with `async` dependencies.

Had the same issue with the `geolocator` plugin, I managed to fix it by using a `boolean` value.
cc @YoussefKababe

[2019-06-24 12:23] sumitgohil commented on #31
I am working on this. I have successfully set the background Color in Android. Looking forward to doing this in iOS too.

[2019-06-24 14:34] kmcgill88 commented on #31
@sumitgohil awesome to hear you picked this up! I'd be happy to review the PR when it's ready.

[2019-06-24 14:54] kmcgill88 commented on #45
@CosmoInSpace could you post your widget? It looks like it's in an infinite loop of loading a banner. AFAIK, this plug-in creates a new banner on each build instead of using a single instance. Perhaps it's time to look into allowing a single instance?

[2019-06-24 15:03] kmcgill88 commented on #46
I ran into this too. I know you have to wrap the Banner in something that specifies sizes it's allowed to fill. This worked for me on iOS and Android.

[code]

I think this could be documented more or maybe a little more intuitive of an API?

[2019-06-24 17:02] CosmoInSpace commented on #45
I've used `sharedprefrences` prior to `provider`, would you happen to know if I can use a single instance with `provider`?

Here's the widget:
[code]

[2019-06-24 17:03] CosmoInSpace commented on #45
I've used `sharedprefrences` prior to `provider`, would you happen to know if I can use a single instance with `provider`?

Here's the widget:
[code]

[2019-06-26 16:55] sumitgohil commented on #18
@mmahkamov  Can you help me out? How should be this Implemented? How did you resolve the issue?

[2019-06-27 07:28] neestell opened #49 "[iOS]Tab bar widget overlaps by banner"
This happens If I put a banner to list of widgets below TabBar widget.
The issue is an order of TabBar widget and list of items should be reversed to work properly. But any way banner is not clipped by list view rect go under TabBar

[2019-06-27 08:48] tanliubin commented on #44
Is it solved? I also have this problem.

[2019-06-27 08:49] hyperpanthera commented on #44
@tanliubin I fixed it by recreating a Flutter project with Swift support.

[2019-06-27 10:19] diruuu commented on #42
I think I found a temporary solution for this. I'm wrapping my widget with `fragment` package. What it does basically to prevent rerendering just like `shouldComponentUpdate` does in ReactJS. You should check it out https://pub.dev/packages/fragment

[2019-06-27 10:29] mmahkamov commented on #18
I've just wrapped AdmobBanner inside a stateful widget which implements AutomaticKeepAliveClientMixin:

[code]

[2019-06-27 11:12] CosmoInSpace commented on #42
@diruuu this actually might work, would you mind providing a gist?

[2019-06-27 11:42] sumitgohil commented on #18
@mmahkamov  Looks like this doesn't work for me. The Banner ad still keeps reloading while popping view.

[2019-06-27 11:53] CosmoInSpace commented on #18
@mmahkamov I tried your method above, it seems the reloading doesn't stop although a new error appeared:
[code]
(using the test banner ad)

also, I called the widget like so:
[code]

[2019-06-27 16:31] kmcgill88 commented on #44
We should probably document this is using Swift. Would either of you be willing to make a PR to the Readme? 😃

[2019-06-28 08:54] mmahkamov commented on #18
Are you using FutureBuilder by any chance?

[2019-06-29 14:05] ejprok commented on #43
I'm getting the same issue as well

[2019-07-02 08:38] diruuu commented on #42
I just simply wrap my widget with `fragment` widget.
[code]
It does prevent the reloading, but you have to put in on the parent widget, and because of that now I need to compare all keys, which I think will be error prone since I'm using scope_model and I don't want my app stop being reactive. If only there's a way to stop admob_flutter only from being reloaded.

Do you find other solution for thi

[2019-07-02 12:31] CosmoInSpace commented on #42
No, this using `fragments` in my case, doesn't work. Not sure if I'm doing something wrong (not using keys for instance) although after some digging I think there needs to be an added pull request with `AutomaticKeepAliveClientMixin` as mentioned in https://github.com/YoussefKababe/admob_flutter/issues/18#issuecomment-506290310 and https://github.com/dreamsoftin/facebook_audience_network/commit/d2

[2019-07-04 06:30] EliasDeuss opened #50 "Banner ad reloads on Transform.scale"
Find this kinda weird why it's reloading on a Transform.scale

[2019-07-04 06:32] EliasDeuss commented on #46
I think it should be documented but It would be nice if it could handled that by itself. @kmcgill88

[2019-07-04 06:38] EliasDeuss commented on #50
Here is an example:

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/13773566/60644650-9d184680-9deb-11e9-9a7c-9bb0739ba3d2.gif)

[2019-07-04 10:47] kmcgill88 commented on #46
If either of you have time to tackle this that would be great. PR's are absolutely welcome!😃

[2019-07-07 01:27] EliasDeuss commented on #46
@kmcgill88 What did you do int ```_getHeight(context),``` ?

[2019-07-07 02:14] EliasDeuss commented on #50
@kmcgill88 any idea why this would happen?

[2019-07-07 02:28] EliasDeuss commented on #49
Can you add a screenshot of what is happening @neestell

[2019-07-07 12:43] kmcgill88 commented on #46
@EliasDeuss  Since I am using a smart banner I just dedicated 6% of the screen height to the banner.

[code]

[2019-07-07 12:54] kmcgill88 commented on #48
Are you using separate App Id's and Ad unit it'd for iOS and Android? To admob a Flutter app on iOS and Android are 2 apps.

[2019-07-07 13:16] kmcgill88 commented on #50
My best guess without seeing your code is the banner is re-rendered. I noticed this when I implemented the iOS side of things. Each Flutter render creates a new banner ad. I believe the recommended way of implementing banners is to use a single instance in your app (or at least few instances). I've done this natively in the past with [McAdViewController](https://github.com/kmcgill88/McAdViewContro

[2019-07-07 17:36] praharshbhatt commented on #44
@hyperpanthera I tried this by deleting the ios folder and doing "flutter create -i ios ."
unfortunately, the Same issue persists :(

[2019-07-07 17:57] hyperpanthera commented on #44
@praharshbhatt You gotta do -i swift and not -i ios.

[2019-07-07 18:24] #50 closed

[2019-07-07 18:26] EliasDeuss commented on #46
@kmcgill88 ah smart

[2019-07-07 20:35] EliasDeuss commented on #50
@kmcgill88 Did this and it's still going on.

[code]

[2019-07-07 21:14] hyperpanthera commented on #46
Thank you it works!

[2019-07-07 21:14] #46 closed

[2019-07-07 22:02] EliasDeuss commented on #50
@kmcgill88 also getting this error

[code]

[2019-07-08 00:05] #47 closed

[2019-07-08 01:43] kmcgill88 commented on #50
@EliasDeuss I've seen that before too. I don't see it when I use my real Admob Id's. Maybe it's just a test unit id thing?

[2019-07-08 10:15] MeDeity opened #52 "can admob be used in China?"
I downloaded the demo and found that the ad can be requested normally, but when I jumped to the ad address, most of it could not be loaded. I was wondering if admob would provide ads for China in China. Simply put, I With expectation, can admob be used in China?

[2019-07-08 11:32] praharshbhatt commented on #44
Sorry, I did the same. Now I am getting
"ambiguous reference to member swift error .setcategory()"
Error.
What do i do now?

[2019-07-08 11:37] hyperpanthera commented on #44
@praharshbhatt Recreate a Flutter project from scratch.

[2019-07-08 11:37] #44 closed

[2019-07-08 18:45] EliasDeuss commented on #52
I did a little resich on this and i think it depends on your ISP. Here is one article i found about it that might answer your question. https://birchlabs.co.uk/blog/jamie/linguabrowse/2018/01/28/is-google-admob-blocked-in-china.html @MeDeity

[2019-07-08 19:03] EliasDeuss commented on #50
@kmcgill88 maybe I tried wrapping in a stateful widget but it kept happening.

[2019-07-09 05:09] MeDeity commented on #52
Thank you

I couldn’t test this directly, as it’s against the terms and conditions of Google AdMob to deliberately click on ads, so I had to wait a while for some data to come in...

If the advertisement comes from a Chinese advertiser, I think it can be accessed, at least the advertising address is in China.

[2019-07-09 15:46] MeDeity commented on #52
I will try,thx again

[2019-07-09 15:46] #52 closed

[2019-07-11 06:09] EliasDeuss commented on #52
No problem @MeDeity Happy to help

[2019-07-11 08:54] neestell commented on #49
![IMG_0652](https://user-images.githubusercontent.com/1618447/61036737-7d84ad80-a3eb-11e9-9495-4a6dd7a1eb49.PNG)
ListWidget and TabBarWidget are placed in ColumnWidget vertically

[2019-07-13 20:28] jiharal opened #53 "The Swift pod `admob_flutter` depends upon `FirebaseCore`"
[code]

[2019-07-13 22:06] jiharal opened #54 "'admob_flutter/admob_flutter-Swift.h' file not found'"
=== BUILD TARGET firebase_messaging OF PROJECT Pods WITH CONFIGURATION Debug ===
    /usr/local/flutter/.pub-cache/hosted/pub.dartlang.org/admob_flutter-0.3.1/ios/Classes/AdmobFlutterPlugin.m:20:9: fatal error: 'admob_flutter/admob_flutter-Swift.h' file not found
    #import <admob_flutter/admob_flutter-Swift.h>
            ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    1 error generated.

[2019-07-14 02:15] PonzyPon commented on #49
@neestell  I had a same issue and resolved. I don't know your codes so I'm not sure it helps you but how about wrapping with `Material` widget?

![スクリーンショット 2019-07-14 11 08 57](https://user-images.githubusercontent.com/11908295/61178465-5961e000-a628-11e9-838c-0dc913d073f0.png)

I didn't get this issue with AppBar, so checked it's implementation.
c.f. https://github.com/flutter/flutter/blob/v1.5.

[2019-07-14 06:04] gomgomize commented on #54
I have same problem with him. Is there any solution?

[2019-07-15 03:50] neestell commented on #49
Thanks! it resolves the issue

[2019-07-15 04:23] #49 closed

[2019-07-15 05:30] neestell opened #55 "Ad breaked down a list of items if no internet connection"
[iPhone X video](https://youtu.be/9d0sNFSKT-o)
Steps to reproduce:
1) Turn on internet connection
2) Load List of items
3) Scroll down until 2 different ads is shown
4) Turn off Internet connection
5) Go to very top of the list

As you can see, list is freezed on top rendering level and list is scrolling on bottom rendering level.

if I turn On Internet connection the issue will disappear

[2019-07-16 11:51] sergey-s-moiseev opened #56 "iOS error ( symbol(s) not found for architecture x86_64 )"
Hi. I've fixed related issues with Pods by adding in Podfile next values
[code]
pre_install do |installer| #this function
  installer.analysis_result.specifications.each do |s|
    s.swift_version = '4.2' unless s.swift_version
  end
end

install! 'cocoapods', :disable_input_output_paths => true

post_install do |installer|
  installer.pods_project.targets.each do |target|
    target.build_configu

[2019-07-16 12:28] sergey-s-moiseev commented on #54
Try to add in Podfile next values
[code]
and

[code]
It's helps me

[2019-07-19 09:39] HemilKumbhani opened #57 "App gets Hang while adding add in to transformer_page_view"

[2019-07-19 09:48] neestell commented on #55
Update
I have discovered the issue is not related to the **admob_flutter**. I recommend not use the lib with `AutomaticKeepAliveClientMixin`feature due to incompatibility at core level

[2019-07-19 09:48] #55 closed

[2019-07-19 10:35] dagema1 commented on #57
Same with me too, in my case the whole animation is so slow

[2019-07-22 17:55] BPHvZ commented on #53
Maybe add this to your pubspec.yaml https://pub.dev/packages/firebase_core

[2019-07-23 22:39] abinmittu opened #58 "Getting this error when moving from one screen to another"
E/flutter ( 6007): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: MissingPluginException(No implementation found for method dispose on channel admob_flutter/banner_8)
E/flutter ( 6007): #0      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:314:7)
E/flutter ( 6007): <asynchronous suspension>
E/flutter ( 6007): #1      AdmobBannerController.dispose

[2019-07-24 12:11] Xoshbin commented on #54
Didn't work for me!

[2019-07-29 01:22] kmcgill88 commented on #58
Can you add more context to this, please? iOS, Android, both? Flutter doctor info.

[2019-07-29 01:24] kmcgill88 commented on #57
On what platform? Flutter doctor info?  iOS is still technically in preview for platform views, which this uses. Perhaps that's a driving factor?

[2019-07-29 01:28] kmcgill88 commented on #56
Does your iOS project use Swift? Please keep this issue updated if you resolve it. Thanks!

[2019-07-29 01:32] kmcgill88 commented on #53
@jiharal Have you resolved this issue?

[2019-07-29 06:48] #53 closed

[2019-07-31 08:10] praharshbhatt opened #59 "Could not get unknown property 'android' for project ':admob_flutter' of type org.gradle.api.Project."
Syncing Gradle gives this error:

![image](https://user-images.githubusercontent.com/30700808/62195033-bc79a380-b398-11e9-9364-99d6fea8404a.png)

The library previously worked fine. The issue seems to be related to gradle.

Any solution?

[2019-08-01 10:41] praharshbhatt commented on #59
Solved the issue by upgrading Flutter, and cleaning and rebuilding the project

[2019-08-01 10:41] #59 closed

[2019-08-01 15:57] hasen6 opened #60 "AdmobAdEvent.closed listener does not work on iOS with interstitials"
I have it set up so that it listens for the interstitial ad to be closed and then start loading the next one as in the example code. This works fine in android but in iOS it does not detect the `AdmobAdEvent.closed`. Some of the other listener parameters work ok like `AdmobAdEvent.loaded` though.

As you can imagine this is somewhat problematic since it means that on iOS the interstitial will only

[2019-08-02 00:16] kmcgill88 commented on #60
What version of iOS and Flutter?

It should be firing that callback [here](https://github.com/YoussefKababe/admob_flutter/blob/master/ios/Classes/AdmobInterstitialPlugin.swift#L122).

[2019-08-02 06:00] hasen6 commented on #60
It was the oddest thing. I tried it again and again and it was working with Android, not on iOS with no code changes. Then I just added a `print(event)` to see if anything was being output and then it _all_ started working...after that it suddenly started registering `AdmobAdEvent.closed` in iOS...

[2019-08-02 06:00] #60 closed

[2019-08-03 20:03] truthmast commented on #56
Check this stackoverflow: https://stackoverflow.com/questions/52536380/why-linker-link-static-libraries-with-errors-ios/53101587#53101587

I was going down the same path of Pod fixes that led me to this issue. Here's the TLDR solution:
[code]

[2019-08-04 16:56] ozexpert commented on #45
i'm also having this problem. I will be using flutter admob until this gets fixed.

[2019-08-05 14:57] glennmichaelmejias opened #61 "on setState method"
banner keeps on refreshing while calling setstate. how to prevent this? i have very low matched rate.

[2019-08-05 23:32] EliasDeuss commented on #61
I don't think there is a way to prevent this. @glennmichaelmejias Can you confirm @kmcgill88 ?

[2019-08-07 06:31] nbfajanilan commented on #16
Encountering the same issue. Worked perfectly during testing but doesn't show ads after publishing the app. Is there any status update?

[2019-08-07 11:04] kmcgill88 commented on #16
@nbfajanilan have you completely setup your admob account? Liked a bank account? Filled out all the tax forms? I believe this can cause test ads to work but real ads will not show up in production unless these are completed.

[2019-08-08 03:10] nbfajanilan commented on #16
@kmcgill88 yes, I already completed setting up my admob account. I have other app which uses firebase_admob and it is working properly. It proves my account is not a factor here. During testing, I used my admob appId and bannerId.

For my new app, admob_flutter is more suitable to the layout I need hence I preferred using it.

[2019-08-08 10:24] nbfajanilan commented on #16
Just an update. The ads now appears in some instances after few days.

Not consistently in fact very rarely but I guess it is now up to admob's algorithm when the ads will be loaded.

[2019-08-09 02:40] kmcgill88 commented on #61
@glennmichaelmejias to the best of my knowledge every time a render occurs a new banner view is created. I'd have to see your widget hierarchy but you will want to wrap the banner in your own stateful widget so it isn't rebuilt.

Admob [best practice](https://support.google.com/admob/answer/6128877?hl=en) says basically keep the banner ad fixed to the top or bottom of the screen and the ad area sh

[2019-08-13 03:06] kmcgill88 commented on #58
@abinmittu [this idea](https://github.com/YoussefKababe/admob_flutter/issues/61#issuecomment-520670535) might interest you too.

[2019-08-13 13:20] kmcgill88 commented on #10
@theneshfmt  whats the status of this issue? Can we close?

[2019-08-14 05:24] #10 closed

[2019-08-14 05:24] theneshfmt commented on #10
I've switched to different plugin, so closing this.

[2019-08-14 05:31] Purus commented on #10
May I know which package you are using as an alternative?

Thanks,

Purusothaman Ramanujam

On Wed, 14 Aug, 2019, 10:54 AM theneshfmt, <notifications@github.com> wrote:

[2019-08-14 05:55] theneshfmt commented on #10
Hi @Purus I'm using [flutter_google_ad_manager.](https://pub.dev/packages/flutter_google_ad_manager)

[2019-08-14 06:19] Purus commented on #10
Thanks for your reply. I was not sure how to use this as I wasn't sure how
to configure AdMob ads using this.

Thanks,

Purusothaman Ramanujam

On Wed, 14 Aug, 2019, 11:25 AM theneshfmt, <notifications@github.com> wrote:

[2019-08-15 13:26] rahulshukla-rs commented on #16
I got the solution,
Steps are as follows:
1. Add plugin to pubspec.yaml
 `firebase_admob: ^0.9.0+3`
2. In main() function
Remove: `Admob.initialize('YOUR_ADMOB_ID');`
Add: `FirebaseAdMob.instance.initialize(appId: YOUR_ADMOB_ID);`

Other things remain unchanged, It will work.
:)

[2019-08-18 10:32] Frank0945 opened #62 "Use "flutter_webview_plugin" and "admob_flutter" will produce some errors"
When I use flutter_webview_plugin and admob_flutter

Generated the following problem：

* What went wrong:
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

  Learn how to resolve the issue at https://developer.android.com/studio/build/dependencies#duplicate_classes.
  Program type already present: android.support.v4.os.ResultReceiver$MyResultReceiver

* Try:
R

[2019-08-22 16:24] #62 closed

[2019-08-22 22:03] duduf15 commented on #43
Hi, same for me, no one found a workaround ?
May we disable the plugin for the iOS platform ?

[2019-08-25 13:29] craig006 commented on #54
@jiharal @Xoshbin @gomgomize Any of you manage to get past this? I'm also getting it.

[2019-08-25 14:34] Xoshbin commented on #54
No, It's not working on iOS

[2019-08-26 09:03] craig006 commented on #54
Managed to get this working. Seems like this is caused if when first creating your flutter app you used obj-c for the ios side.

I created a new flutter app with swift for ios instead and copied my pupspec, lib and asset folders over and then it worked. I could not find a way to make the old obj project work.

[2019-08-26 13:09] WygorFonseca commented on #61
For feeds, the cool thing is that you have more than one ad. In my opinion, only a pinned ad can affect earnings, am I sure of that?

[2019-08-28 09:50] glennmichaelmejias commented on #61
Is the banner can create invalid impressions or invalid activity that can cause account to be suspended? I am afraid that this will create invalid impressions because of multiple banners in one app.
I am also using this plugin with my app for more than 2 weeks and I can earned $10 a day.

[2019-08-29 05:38] serendipity1004 opened #63 "Cannot find an ad network adapter with the name com.google.DumyAdapter error"
I am currently using banner ad to be displayed in listview.separated widget. I am displaying banner ad in separators every few indexes. The widget I use is like below.

[code]

I am using the test adUnitId provided from https://developers.google.com/admob/ios/test-ads?hl=ko

The problem is that ad tries to load multiple times and causes error like below

[code]

How do I overcome this error? I am

[2019-08-29 12:15] telinx commented on #63
Encountered the same problem,  log print :'handleEvent---->>>AdmobAdEvent.loaded', but no ad image show.
ios 12.04, admob_flutter: ^0.3.1

[2019-08-30 06:54] telinx opened #64 "ios, AdmobBanner in PageView cann't display ad image, but tap ad can navigate to ad's url"
I git clone admob_flutter, change some example's code,just like this:
[code]
dependency: admob_flutter: ^0.3.1
flutter doctor -v
[code]
just put ListView in PageView, no ad image display, and SnackBar show 'New Admob banner Ad loaded!'.
Android is ok.
Any help?

[2019-09-01 12:37] dalebulmer commented on #4
I understand this isn't being actively maintained but did anyone work out a way to adapt this to use AdRequest.Builder.addTestDevice?

[2019-09-06 14:05] Mellie45 commented on #63
Same issue for IOS only...

[2019-09-08 21:07] DjaberDribine commented on #63
i have the same issue for IOS too ... any solution???

[2019-09-08 21:28] Mellie45 commented on #63
Hi Youssef,I'm away from my desk for a couple of weeks but I'm wondering if the solution lays in the as unit URLs. I'm thinking that the unit needs to be generated on admob for both Android and iOS and then loaded via a conditional within the widget tree... I'll give it a go when I get back but you may have time... If so do let me know how you get on. It's frustrating as it's such a great solution

[2019-09-09 08:26] sunjianan9900 commented on #54
delete ios file
and run 'flutter create  -i swift .'
rebuild in swift

[2019-09-11 18:46] kmcgill88 opened #65 "AdmobInterstitialPlugin can crash on didFailToReceiveAdWithError"
The AdmobInterstitialPlugin [didFailToReceiveAdWithError](https://github.com/YoussefKababe/admob_flutter/blob/master/ios/Classes/AdmobInterstitialPlugin.swift#L134) caused my app to crash when an adblocker was running on the network. I'm assuming the `GADRequestError` can't be passed through the platform channel. [See docs](https://flutter.dev/docs/development/platform-integration/platform-channel

[2019-09-11 18:51] kmcgill88 commented on #63
@serendipity1004 - @Mellie45 - @DjaberDribine  You must use the ad unit id's for android and ios separately, for each use case. I do something like this.

[code]

Hope this help's ya'll. Let me know and I can close this issue. Thanks!

[2019-09-12 01:40] kmcgill88 commented on #65
Confirmed my hunch. Will have a PR fix momentarily.
[code]

[2019-09-14 00:58] #65 closed

[2019-09-14 01:35] nemoryoliver commented on #65
Thanks a lot for the fix and version bump!

[2019-09-14 03:40] sunjianan9900 opened #67 "Reward AD can not got reward at first times"
only second or more times can got reward call back

[2019-09-16 06:19] hsnbsst opened #68 "Invalid Request. Cannot determine request type. Is your ad unit id correct?"
Invalid Request. Cannot determine request type. Is your ad unit id correct?

I'm doing everything correctly, but the android is running smoothly ads, ios a ads does not come up. ios id with android id entering separately

[2019-09-17 01:27] serendipity1004 commented on #63
@kmcgill88 no that is not the problem. I am using the IDs provided in the example of this project but still same error.

[2019-09-17 01:29] serendipity1004 commented on #63
@kmcgill88 I can confirm for you though that the official firebase_admob plugin works correctly. So either I am missing something or there's a difficult to find bug.

[2019-09-22 11:52] ezero9 commented on #63
I'm facing same issue in iOS only.
I using the test id. and android is normal.

[2019-09-24 03:26] zukinaru opened #69 "(Android) : Unhandled Exception: PlatformException(error, Trying to create a platform view of unregistered type: admob_flutter/banner, null)"
I got below error when trying admob_flutter, the ads itself not loading/showing.

[code]

any idea?

Thank You

[2019-09-24 05:47] zukinaru commented on #21
now i have this issue....

any idea ?

[2019-09-24 06:30] veetaw commented on #21
A ```flutter clean``` fixes the issue.

[2019-09-24 06:32] zukinaru commented on #21
but i'm building it using codemagic.io, because my laptop too noisy,hot to perform build operation.

any idea ?

[2019-09-24 08:00] Mellie45 commented on #63
@kmcgill88 I've tested again with the following code adjustments.
1st I simply changed my helper functions to follow precisely your patterns. This I tried to run with both the supplied test ID's for the appID and test unit Ids, and also with id's generated via my adMob account. Next I converted the helper functions back to the pattern from the install documentation and again tried to run with both

[2019-09-24 16:43] jqmcrvlh commented on #69
Try to restart your project.  I received this error a feel minutes ago. Then I decide to close it and open an old project with the same method to AdMob and  I saw that old project works.   Then I returned to the project with error and started again, and that error message disappeared.

[2019-09-24 22:14] zukinaru commented on #69
I build my project using codemagic.io because my laptop will noisy & hot when perform build operation.

Any Idea ?

[2019-09-25 02:55] jqmcrvlh commented on #69
I am sorry I have no idea, I do not use codemagic.io  in my tests, I do not know how it works.
My last suggestions are to try to check if your Android / iOS app id, generated by Admob, are in the right places in AndroidManifest.xml and iOS Info.plis.   Check if getAppId() contains a right app id for Android and iOS and getBannerAdUnitId() shows the right code of advert for Android and iOS from Adm

[2019-09-26 04:37] newajthevillager opened #71 "No option for adding test device"
Plugin is good, but so far no option found for adding test device. Adding test device is needed as per admob policy.

[2019-09-26 06:55] zukinaru opened #72 "Unhandled Exception: MissingPluginException(No implementation found for method initialize on channel admob_flutter)"
I never cant show admob banner on my flutter apps, instead i got below error:

[code]

any idea to solve ?

Thanks in Advance...

[2019-09-27 13:39] kmcgill88 commented on #71
iOS by default will add the simulator as a test device. Of course, this could (and should) be improved to allow devs to add their own test device ids. @YoussefKababe does the Android side add the emulator as a test device?

@newajthevillager do you have the bandwidth to implement this? PR's welcome!

[2019-09-27 16:37] narayanansampath commented on #18
This fix didn't work for me and I'm not using FutureBuilder too. Please help :(

[2019-09-28 15:16] narayanansampath opened #73 "The ad container shows black color till the add loads."
![Screenshot_20190928-204001](https://user-images.githubusercontent.com/19869271/65818654-0f54c780-e231-11e9-8c47-99efc2c682bf.png)
Any fix for this? Even after setting a background color to the container the problem persists.

[2019-09-28 19:03] DjaberDribine commented on #71
Android also by default will add the simulator as a test device

[2019-09-28 21:37] DjaberDribine opened #74 "App crash in IOS after upgrade to 0.3.3"
** BUILD FAILED **
Xcode's output:
↳
...../flutter/.pub-cache/hosted/pub.dartlang.org/admob_flutter-0.3.3/ios/Classes/AdmobBanner.swift:76:43: error: value of type 'GADRequestConfiguration' has no member 'testDeviceIdentifiers'
                GADMobileAds.sharedInstance().requestConfiguration.testDeviceIdentifiers = [kGADSimulatorID as! String]
[code]

[2019-09-28 22:21] EliasDeuss commented on #74
Does it also give you that error for Android @DjaberDribine ? Hey @kmcgill88 can you look into this.

[2019-09-29 10:29] nimish1995 commented on #18
no working! Any solution? in every refresh of the list it shows blank blink which not looks good. and is there any way to preload the banner and show only if it's loaded??

[2019-09-29 10:37] mmahkamov commented on #18
The blink is happening because the background color of the native widget is white by default. You need to patch the native side to make the host view transparent.

[2019-09-29 10:39] nimish1995 commented on #18
Can you share the code? How can do that?

[2019-09-29 10:39] nimish1995 commented on #18
Can you share the code? How can do that?

[2019-09-29 11:09] narayanansampath commented on #18
I changed the container color to white as my screen background is white but the ad container still displays black color.

[2019-09-29 11:27] nimish1995 commented on #18
same here

[2019-09-29 18:06] heinzan opened #75 "how configure interstitial ad between 2pages."

[2019-09-29 18:08] heinzan commented on #75
This is not issue.I have no idea how handle interstitial ad between pages.I have 2 page.name_one.dart and name_two.dart.I want to show interstitial when exist from name_two.dart and go to name_one.dart.
Thanks you

[2019-09-29 19:23] DjaberDribine commented on #74
@EliasDeuss only for IOS

[2019-09-30 13:29] gildaswise commented on #74
You need to update Xcode to 11, this was a required change starting on iOS 13.

[2019-09-30 14:41] kmcgill88 commented on #31
@sumitgohil any update on this?

[2019-09-30 14:41] kmcgill88 commented on #73
Closing this as duplicate of https://github.com/YoussefKababe/admob_flutter/issues/31

[2019-09-30 14:41] #73 closed

[2019-09-30 14:48] kmcgill88 opened #76 "Add CI"
To reduce bugs we desperately need to add CI. Even a basic project build would be helpful.

I propose we add Travis CI or similar to improve project quality!

Suggested Build steps.
1. Dart Code needs to be unit tested
1. Native code needs unit tests
1. iOS and Android projects need to compile
1. (stretch) Compile projects on multiple versions. ie. iOS 11, 12, 13 and Android 8,9,10

[2019-09-30 15:03] #11 closed

[2019-09-30 17:13] heinzan commented on #75
I use WillpopScope widget but don't show intersittial ad.```

        Future<bool> _willPopCallback() async {
      // await showDialog or Show add banners or whatever
      // First, create an interstitial ad
      AdmobInterstitial interstitialAd = AdmobInterstitial(
        adUnitId: AdUtil.getInterstitialAdUnitId(),
      );

// Interstitials must be loaded before shown.
// Make sure to always

[2019-09-30 17:42] heinzan commented on #75
solved thanks

[2019-09-30 17:42] #75 closed

[2019-10-01 11:52] mmahkamov commented on #18
You can get the idea from the following patch or just ```git apply``` it.

[code]

[2019-10-01 14:41] narayanansampath commented on #18
Can you please elaborate on the steps for applying this as patch. Thanks.

[2019-10-03 14:36] DjaberDribine commented on #74
@gildaswise don't working even with Xcode 11

[2019-10-03 19:12] kmcgill88 commented on #76
@YoussefKababe @EliasDeuss do either of you have experience doing this? I've only used Travis CI with Github. I'm happy to set it up.

@YoussefKababe I would need repo permission to integrate with Travis CI. This is my setup on a different project of mine, [McPicker](https://github.com/kmcgill88/McPicker-iOS/blob/master/.travis.yml)

[2019-10-05 10:34] AlexisThink opened #77 "Ad Failed to Load: 3"
Whats mean this code error and how to solved?

[2019-10-07 05:14] veetaw commented on #21
I don't know then, sorry

[2019-10-07 16:19] craig006 commented on #74
@gildaswise @DjaberDribine I'm also facing this exact issue. On xcode 11.

Any fixes yet?

[2019-10-07 16:21] gildaswise commented on #74
Is it a crash or the app just doesn't build? Did you run both `pod install` and `pod update` on the `ios` folder? I made this change because the previous way didn't work at all, and [this was the recommendation](https://stackoverflow.com/questions/58000287/identify-the-test-device-for-admob).

[2019-10-08 08:59] DjaberDribine commented on #74
@gildaswise @craig006 fixed after pod install and pod update.
thx @gildaswise

[2019-10-10 11:43] hsnbsst opened #78 "admob flutter"
FutureBuilder is constantly renovating
just getting iphone

[2019-10-10 16:09] sampathkumar7 opened #79 "android app crashes after build and install"
im using these plugins

[code]
when i build after adding admob_flutter app crashes on start.
also added in manifest.xml
<meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="ca-app-pub-xxxxxxxxxx~xxxxxxx"/>

used latest version admob_flutter: ^0.3.3

[2019-10-12 19:10] BrutalCoding commented on #67
This issue still persists, please re-open this thread.

[2019-10-13 09:17] sunjianan9900 opened #80 "Does admob_flutter support Mediation ？"
I add GDT SDK to my progect
and add Mediation on the Admob Management page
bug i still still only got admob ads
GDT is 0
Does admob_flutter support Mediation ？

[2019-10-13 09:19] sunjianan9900 commented on #80
![gdt](https://s2.ax1x.com/2019/10/13/uvTO0I.png)
GDT got requests but no ad return

[2019-10-13 13:56] aleksandar-radivojevic opened #81 "Build error on IOS"
Launching lib/main.dart on iPhone 8 in debug mode...
Xcode build done.                                            5.2s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **
Xcode's output:
↳
    === BUILD TARGET admob_flutter OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/luja/Desktop/code/flutter/.pub-cache/hosted/pub.dartlang.org/admob_flutter-0.3.3/ios/Classes

[2019-10-14 10:53] Veeraharikumar commented on #79
@sampathkumar7
Im facing same error.
Did any other version works properly ???

[2019-10-14 11:35] sampathkumar7 commented on #79
Did you get any solution i even tried adding plugin locally and do some changes it didnt work.

[2019-10-14 17:01] kmcgill88 commented on #76
@YoussefKababe would you be willing to give me repo permission to set this up?

[2019-10-14 21:21] jesusmartinoza commented on #81
It seems that your project wasn't created for Swift.

Try this:
https://stackoverflow.com/questions/52536380/why-linker-link-static-libraries-with-errors-ios

[2019-10-15 04:13] #74 closed

[2019-10-15 04:58] EliasDeuss commented on #81
Did you select iOS when you where creating your project @aleksandar-radivojevic ?

[2019-10-15 04:59] EliasDeuss commented on #80
Hey @kmcgill88 can you look at this?

[2019-10-15 05:01] EliasDeuss commented on #79
Can you do ```flutter doctor -v``` and give me the output. @sampathkumar7

[2019-10-15 05:04] EliasDeuss commented on #76
No I have only used Travis for a flutter project, not for a plugin.

[2019-10-15 06:38] sampathkumar7 commented on #79
[code]

[2019-10-15 06:39] sampathkumar7 commented on #79
This is my build gradle file
[code]

[2019-10-15 08:29] fayaz07 commented on #79
This is even happening with the official library [firebase_admob](https://pub.dev/packages/firebase_admob), did anyone find a solution to this?

[2019-10-15 13:15] aleksandar-radivojevic commented on #81
It's fixed now, it was the Swift problem

[2019-10-15 13:15] #81 closed

[2019-10-16 13:05] sunjianan9900 opened #86 "why I can‘t use banner ad for ios"
0.3.3
it's work on android
but not work on ios:
{error: Request Error: Cannot find an ad network adapter for mediation., errorCode: 8}
no matter using test banner id or my banner id

but interstitial Ad is work on both.

i add this on my plist.info:

[code]

IDE : XCODE 11.2 BETA

[2019-10-17 13:25] kmcgill88 commented on #76
@YoussefKababe @EliasDeuss check out the build I started on [bitrise](https://app.bitrise.io/app/aab4844dfe687df4#/builds). I also added a build badge to the read me.

Current build steps:
1. `flutter packages get`
1. `flutter analyze`
1. `flutter build ios --debug --no-codesign`

I'd like to see any changes unit tested and we add `flutter test` as well as make sure things compile for Android with

[2019-10-17 13:26] kmcgill88 opened #88 "Add Android compile step to build"
@YoussefKababe @EliasDeuss check out the build I started on [bitrise](https://app.bitrise.io/app/aab4844dfe687df4#/builds). I also added a build badge to the read me.

Current build steps:
1. `flutter packages get`
1. `flutter analyze`
1. `flutter build ios --debug --no-codesign`

I'd like to see any changes unit tested and we add `flutter test` as well as make sure things compile for Android with

[2019-10-17 13:26] #76 closed

[2019-10-17 13:33] kmcgill88 commented on #79
@aleksandar-radivojevic have you updated your pods? I'll publish `0.3.4` soon which I've pinned the exact version iOS uses. (hopefully will fix this for others.) I had this issue but clearing my pods folder and trying pulled down the correct version of Admob. I need to do the same for Android.

**Versions should always be pinned in libraries!**

If anyone has bandwidth to help with the Android sid

[2019-10-17 13:58] sampathkumar7 commented on #79
yes i do have to help from android side

[2019-10-18 00:09] EliasDeuss commented on #86
@kmcgill88 Can you have a look at this?

[2019-10-18 00:15] EliasDeuss commented on #86
Can you do ```flutter doctor -v``` and post the output. @sunjianan9900

[2019-10-19 02:25] nemoryoliver commented on #18
I second this. please help us bro... thanks a lot

[2019-10-19 04:22] #78 closed

[2019-10-19 04:26] kmcgill88 commented on #18
Has anyone in this thread considered doing something like this? https://github.com/kmcgill88/admob_flutter/issues/61#issuecomment-520670535

[2019-10-20 05:55] virskor commented on #63
same!

[2019-10-23 19:55] d-apps commented on #71
This is a very useful option we need, actually this is one of the reasons I'm using firebase_admob plugin instead of this.

[2019-10-23 20:20] d-apps opened #89 "Update AdmobAdEvent for each type of Ad"
Interstitial and Banner have events that doesn't belong to them, like AdmobAdEvent.rewarded (Rewarded Ad), and if we use a switch (event) we must use all cases of each one of them, even if we won't use, is it possible to update this?

[code]

[2019-10-23 20:24] d-apps commented on #77
I am getting this error with a banner, using test id, and interstitial is working fine.

[2019-10-24 09:56] aleksandar-radivojevic commented on #79
@kmcgill88 I dont know how to clear or update pods, or pin library. I really dont understand what you saying me to do. Can you be more specific?tnx

[2019-10-24 11:12] sunjianan9900 commented on #86
Have you try ios banners？

[2019-10-24 12:08] kmcgill88 commented on #86
https://stackoverflow.com/questions/41633253/cannot-find-an-ad-network-adapter

https://support.google.com/admob/thread/3813928?hl=en

[2019-10-24 12:21] kmcgill88 commented on #86
https://github.com/kmcgill88/admob_flutter/blob/master/example/lib/main.dart#L245

Double check using the correct ideas for the right platform.

[2019-10-24 13:36] sunjianan9900 commented on #86
Thanks for your reply

I try the demo ios project , it works。
And then I copy and replace the main.dart to my project, it works too.
And then I make main.dart to the second page , put an button on first page to get it , and it doesn't work. And the log print
`<Google> Cannot find an ad network adapter with the name(s): com.google.DummyAdapter. Remember to link all required ad network adapters and

[2019-10-24 14:50] d-apps opened #91 "SMART_BANNER loading with incorrect dimensions"
When I set adSize: **AdmobBannerSize.SMART_BANNER:**

![WhatsApp Image 2019-10-24 at 08 45 45](https://user-images.githubusercontent.com/20110433/67495064-aa826680-f650-11e9-9f04-52e94d6d7414.jpeg)

Other Banner types like BANNER is ok:

**adSize: AdmobBannerSize.BANNER**

![Screenshot_1571926549](https://user-images.githubusercontent.com/20110433/67495075-b2420b00-f650-11e9-9c02-455424356f61.png)

[2019-10-24 17:01] kmcgill88 commented on #86
Have you tried replacing test id's with your own account id's? I'm currently using this code in product and I'm not having any issues. I've also seen this message while I debugged. I'm not sure what else for you to try?

[2019-10-24 17:22] kmcgill88 commented on #91
This is probably the issue. https://github.com/kmcgill88/admob_flutter/issues/46. The `SMART_BANNER` enum is misleading since you have to wrap it in a container and set the size. A PR would be great to document how the current use of this works! 😄

[2019-10-24 17:26] kmcgill88 commented on #89
Sure, I'm open to improvements! PR's are always welcome. This was the original design by @YoussefKababe. I'm sure these could be narrowed down to banner, interstitial, ect only enums. I'd assume this would be a breaking change requiring a major version update. But thats OK.

[2019-10-25 02:40] #88 closed

[2019-10-25 02:56] sunjianan9900 commented on #86
But I can run interstitial ads and reward ads on my demo code using test ad id
-> https://github.com/sunjianan9900/Danmupic/tree/master/demo (just move the ads to second page from example code , not change any id)
interstitial ads and reward ads Can work anywhere , but banner only work on main.dart

It also have the same issues on my release ios app , android not have any issues

[2019-10-25 17:52] zmeggyesi commented on #7
What about `keywords` and `contentUrl`? Those don't seem to be deprecated, but I cannot set them in the plugin. Or at least I'm missing how.

Can I get some pointers on how to change the keywords for targeting? I'm looking to do a fairly specific set of keywords and ads to keep with my app's theme.

[2019-10-25 21:29] rikiraspoutine commented on #62
same problem here

[2019-10-26 00:24] hkndzdr opened #94 "Why doesn't the Admob Banner class have a dispose method?"
Why doesn't the Admob Banner class have a dispose method?

[2019-10-26 05:52] Nisthar commented on #62
@Frank0945 @rikiraspoutine same problem. Found any solution yet?

[2019-10-26 18:21] rikiraspoutine commented on #62
no

[2019-10-26 18:27] JCKodel opened #95 "Stack overflow on click or sleep"
On certain devices, my app crashes when I click ad banners or send the app to background.

logcat:
[code]

[2019-10-26 20:21] atereshkov commented on #79
Same..

[2019-10-27 10:58] atereshkov commented on #79
@aleksandar-radivojevic have you solved the problem with launch?

[2019-10-27 11:13] atereshkov commented on #79
**Anyone who are getting the crash on Android, check the following thing out:**

After a night fighting with the crash I finally found the solution. Seems like a few folks might already been struggling because of the same issue.

So instead of putting the meta-data tag right after the <application starts, I did it inside the <activity> </> and that's was the actual error.

Check that in your Andro

[2019-10-27 11:35] atereshkov commented on #86
@sunjianan9900 same for me there on IOS. Have you resolved issue with the network adapter error with BANNER type?

[2019-10-27 15:02] Nisthar opened #96 "Use "flutter_webview_plugin" and "admob_flutter" will produce some errors"
same as this [issue](https://github.com/kmcgill88/admob_flutter/issues/62). The author closed that issue. But its not fixed yet.

[2019-10-28 14:25] Nisthar commented on #96
@kmcgill88 any solution for this issue?

[2019-10-28 15:26] kmcgill88 commented on #96
@Nisthar no sorry. I haven't had time to look into this. If you find a solution please consider submitting a PR.

[2019-10-28 15:39] Nisthar commented on #96
@kmcgill88 haven't found a solution so far. But it didn't work even if i remove the `flutter_webview_plugin`. The build is stuck on "Installing app.apk"

[2019-10-29 04:33] #77 closed

[2019-10-29 11:52] sunjianan9900 commented on #86
it's still not work for me (cry)
<img width="1149" alt="WX20191029-194009@2x" src="https://user-images.githubusercontent.com/10936316/67764778-9c37ae80-fa85-11e9-937d-550db3776870.png">

[2019-10-29 15:36] Nisthar opened #98 "How can i go live?"
Is there any articles which show how to add live ads?

[2019-10-29 17:01] josiasfabricio commented on #86
Same error

<Google> Cannot find an ad network adapter with the name(s): com.google.DummyAdapter. Remember to link all required ad network adapters and SDKs, and set -ObjC in the 'Other Linker Flags' setting of your build target.

Not work for me too

Not work for me too

[2019-10-29 17:02] josiasfabricio commented on #86
Not work for me too

[2019-10-29 20:55] aleksandar-radivojevic commented on #79
@atereshkov Can you be more specific example, I didnt understand you..

[2019-10-30 06:17] atereshkov commented on #79
@aleksandar-radivojevic In my case the issue was because of incorrect position of **<meta-data** in the AndroidManifest file. Double check that **<meta-data** information with Firebase AdMob ID located right after the **<application** tag like in the example I gave above. Did you get me?

[2019-10-30 07:33] aleksandar-radivojevic commented on #79
@atereshkov Yes, I have just tried that, but no success, Android app still crashes on start with no error. Ios is working fine.

[2019-10-30 12:28] atereshkov commented on #98
What do you mean by "live"?

[2019-10-30 14:21] yytester opened #99 "Android phone error: Missing google_app_id. Firebase Analytics disabled"
when I use test admob id, it can showed on my Android phone.
But I use my real admob  id  , it can't show on my android phone, and debug info is : `Missing google_app_id. Firebase Analytics disabled. See https://goo.gl/NAOOO`.

If I want to use admob_flutter in my product app , I must registered  at firebase  first?

[2019-10-30 18:17] Kasiits commented on #99
For me it worked when i published my app.Then i could see live ads with my real amob id.

[2019-10-30 23:49] yytester commented on #99
@Kasiits   hi, do you register at firebase . for your app?     or  you only register at google admob ?

[2019-10-31 08:51] adithyaxx opened #100 "Crash when used with Google Maps"
Great work on this package! This is the only package that offers a truly fluttery way to incorporate ads as a widget.

I have tried it out and it works fine on android and on the iOS simulator. However, when run on a physical iOS device, my app crashes. I did some testing and found out that the crash only occurs when the Google Map widget is present in the same Scaffold as the banner. I have tried

[2019-10-31 14:13] Kasiits commented on #99
Only with google admob

[2019-11-01 02:21] #99 closed

[2019-11-01 02:28] yytester opened #101 "why my own admob id can not showed in real phone? only showed test id."
when I use xcode create ios app ,  use my  own admob  appid  and banner id , it can  showed in real phone .

But when I use admob_flutter ,  use the same admob  appid and banner id , it can not showed in my real phone .

the debug info is :`Ad failed to load: 3`

[2019-11-01 09:14] EliasDeuss commented on #100
@adithyaxx Can you do flutter doctor -v and give me the output.

[2019-11-01 09:15] EliasDeuss commented on #95
@JCKodel Can you do flutter doctor -v and give me the output.

[2019-11-01 09:17] EliasDeuss commented on #101
@yytester Can you do flutter doctor -v and give me the output.

[2019-11-01 09:21] adithyaxx commented on #100
Also, I just switched to the master channel (1.10.15-pre.368) and the crash is not happening anymore. Previously, I was on the dev channel when I was experiencing this issue. So I am not sure whether it's a problem with this package or flutter itself.

And yes I tested it on both platforms on both simulators and physical devices. The crash was consistently occurring only on physical iOS devices on

[2019-11-01 10:52] yytester commented on #101
@EliasDeuss   Hi,  this is my output , please help me , thank you .

[code]

[2019-11-01 11:07] yytester commented on #101
@EliasDeuss  and my app is not published to the app store now , or this reason ?

[2019-11-01 11:35] adithyaxx commented on #100
To add on, even in 1.10.15-pre.351 the crash is still present. So maybe that narrows down and helps with identifying what changed in flutter with the last few commits.

[2019-11-01 15:44] JCKodel commented on #95
[code]

(beta channel required for the Adreno 308 bug)

[2019-11-01 22:42] nemoryoliver commented on #18
That is a nice workaround. But I'd rather use firebase_admob for that.

[2019-11-02 05:10] EliasDeuss commented on #101
@yytester No it shouldn't matter.

[2019-11-02 05:44] Nisthar commented on #98
@atereshkov when i build for production, do i need to change the app id in AndroidManifest.xml or only in the main.dart file?

[2019-11-02 11:17] atereshkov commented on #98
@Nisthar you have to change the app ID everywhere in your project. Also don't forget to change banner unit ID as well.

[2019-11-02 14:22] atereshkov commented on #101
https://stackoverflow.com/questions/33566485/failed-to-load-ad-3

[2019-11-02 14:32] #98 closed

[2019-11-02 16:02] GioPan-sh commented on #99
@yytester I've your same problem, how do you solve it? Just compiled the release version?

[2019-11-03 12:41] elowareKf commented on #42
I solved this for me using a StatefulWidget as a container:

[code]

and then using the TestContainer.

[2019-11-03 13:03] ugurcany commented on #79
same here. app crashes right after build is completed.

[2019-11-06 06:01] sunjianan9900 opened #102 "Interstitial Ads will Show TEST ADS on the Second times on iOS"
I found this issuse when my app on app store
I test much times，it will Show test Ads on the Second times and more...Only the first show is real ad, And the first show is count on admob backstage . so i'm sure ad it's worked.
I have two Interstitial Ads ，all of it has same issue.
I'm sure i set my ad id.

[2019-11-06 06:06] sunjianan9900 commented on #102
Close app，and reopen
It show real ad at first time ,and then all test ad again

[2019-11-06 07:18] sunjianan9900 commented on #102
I set “Show once / 10 mins” on admob
But every time I reopen app，it show ads onces，and then test ads No matter if it takes another 10mins

[2019-11-06 08:19] DhiaEddineNabli commented on #7
@zmeggyesi thank you for implementing the targeting info to Banner ads. Indeed this very relevant since there got be a way to control the ads content and google is very strict about it. Is the targeting info feature now available at least for android in the new version of the admob_flutter package when downloading it from https://pub.dev/packages ?

[2019-11-06 11:47] zmeggyesi commented on #7
Hi,

I don't think so, the PR is not merged yet. You can set up Pub to track a
Git repository and branch, though, so you can take advantage of it.

Best regards,
Zalán Meggyesi

Sent from phone, please excuse brevity (and possible typos).

On Wed, Nov 6, 2019, 09:19 cspp <notifications@github.com> wrote:

[2019-11-06 20:38] SwissCheese5 commented on #79
Changing the meta-data tag to right under the application tag didn't fix it for me

[2019-11-07 13:51] SwissCheese5 commented on #91
@kmcgill88 I don't think that worked.
![image](https://user-images.githubusercontent.com/7407478/68394383-645ff380-0176-11ea-99d7-e59a94d807f2.png)

[code]

[2019-11-07 13:51] SwissCheese5 commented on #91
also tried solid numbers for width, same result or a blank container.

[2019-11-08 06:02] kibhub opened #103 "Ads Not Showing When Using Visibility Widget and Changing States on On load event"
`Visibility(
            visible: bannerAdVisibility,
            maintainState: true,
            child: Container(
              height: 50,
              width: 320,
              margin: EdgeInsets.only(bottom: 5.0),
              child: AdmobBanner(
                adUnitId: "",
                adSize: bannerAd,
                listener: (AdmobAdEvent event, Map<String, dynamic> args) {

[2019-11-14 08:04] yytester commented on #101
no,  I think it not this reason.  Because my own admob's app_id and banner_id   had used on my ios app(swift developed) and it had in the apple store.  and it showed on real iphone.

[2019-11-14 14:27] kibhub opened #104 "How Can i hide the add Container until the ad is loaded?"

[2019-11-14 15:39] lockelost commented on #44
New project creation does not help in my case.

Is that header created under "<project path>/ios/Pods/Target\ Support\ Files/admob_flutter" ?
Can you just share the header file here?

[2019-11-16 03:38] nguyenlinhnttu opened #105 "Ads not show when use about 3 minutes"
When open app, ads show normal.
But when i open some screen and use about 3 minutes, after ads not show, all ads invisible only white container.
----
I have tested on device: iphone 7 plus and iphone 11.

[2019-11-16 13:34] lockelost commented on #44
Found the solution
https://github.com/flutter/flutter/issues/16246#issuecomment-454306108

[2019-11-19 06:36] hasen6 opened #106 "iOS <Google> To get test ads on this device, set: GADMobileAds.sharedInstance.requestConfiguration.testDeviceIdentifiers"
Using version 0.3.4 and it works fine on the Android emulator but ads do not show in iOS. The only error message is:

`<Google> To get test ads on this device, set: GADMobileAds.sharedInstance.requestConfiguration.testDeviceIdentifiers`

Both Banner and Interstitial all work absolutely fine on Android and have followed the installation instructions for setup on iOS. I really don't see why the bann

[2019-11-22 09:15] abozanona opened #107 "`dispose` doesn't remove banner"
When I call `myBanner?.dispose();` the banner ad doesn't disappear as expected.

[2019-11-24 17:26] yadsbah opened #108 "unfortunately, kaka_tags has stopped Working"
after I added   admob_flutter: ^0.3.4 to my app dependencies.

the app stopped working and when I try to build it. it says unfortunately, kaka_tags has stopped Working

No error shows in Debug Console.

![Screenshot (11)](https://user-images.githubusercontent.com/47110831/69498396-b89a0000-0ef8-11ea-92a0-7de64a858b08.png)

[2019-11-25 05:56] eleomilagrosa commented on #61
![image](https://user-images.githubusercontent.com/15756318/69515948-25f67100-0f8b-11ea-87ec-9fa692c043b8.png)

![image](https://user-images.githubusercontent.com/15756318/69515962-39a1d780-0f8b-11ea-82d5-3bf61443ab31.png)

then just add it your build function

just declare it outside don't declare it inside build function.
it will just recreating every build function triggers

[2019-12-01 11:58] night-wielder commented on #108
Checking in. I have the same issue!

[2019-12-02 13:13] night-wielder commented on #108
Shit! I was so stupid. Just add your app ID in the manifest and this will be fixed!

[2019-12-05 00:26] EliasDeuss commented on #108
@yadsbah have you tried what @night-wielder has suggested?

[2019-12-05 22:43] ally159 opened #109 "Could not run IOS app"
Hi I'm trying to add ads with this plugin, on Android works fine, but with IOS I'm having several problems. First I have a conflict with firebase_core (version 0.4.0+6) with Admob 0.3.4 because of firebase_analytics dependency. So I updated firebase_core to all newer version but I get the following error (now I have the current latest version of firebase_core 0.4.2+1):

Xcode build done.

[2019-12-10 14:53] soska12 commented on #95
same here

[2019-12-12 02:29] #64 closed

[2019-12-12 22:34] EliasDeuss commented on #64
Did you get this working @telinx ?

[2019-12-14 06:38] Udaychinthala opened #110 "Missing google_app_id. Firebase Analytics disabled."

[2019-12-15 02:06] kmcgill88 commented on #110
Can you elaborate please. This plugin isn’t for analytics.

[2019-12-15 02:49] Udaychinthala commented on #110
Dont we get ads in debug mode if we provide original ad unit ids

[2019-12-15 03:33] kmcgill88 commented on #110
Yes you should get test ads. I'm not sure how this relates to analytics?

[2019-12-15 06:57] Udaychinthala commented on #110
Im not getting ads when i provide my original admob ids
but im getting when i provide the test ids

[2019-12-15 16:44] 99darshan opened #112 "Can't run flutter app when admob_flutter is added as a dependency due to error "Waiting for observatory port to be available...""
I created a new flutter project **( Flutter 1.12.13+hotfix.5 )** then added  admob_flutter as a dependency in package.yaml. When I try to run the app it crashes.

`flutter run --verbose` gives an message **"Waiting for observatory port to be available..."** and it gets stuck there

I tried removing admob_flutter as a dependency and added other packages like url_launcher, flutter_pdfview, etc. and

[2019-12-17 12:53] designerbrahim opened #114 "Banner ads"
First of all, Thanks for your efforts & time to make this awesome package exist, But I hit some issues along the way like :
1) The 'AdView' keeps refreshing itself every time the user clicked on button even the button has simple functionality that doesn't change all the UI like "save something...or add to a favorite..." and that makes the 'AdView' refreshing itself every time.
---> And I think thi

[2019-12-17 15:51] kmcgill88 commented on #114
@designerbrahim thanks for the kind words. @YoussefKababe started this project. I only added iOS support. 😄

1. A lot of people have had this experience too. I believe it's the way the plugin creates a new ad *every* time flutter re-renders. One fix to this is to lift the banner up to the very top of your widget tree in a stateful widget so it isn't re-rendered.
2. I agree this isn't a great UX. I

[2019-12-17 16:58] designerbrahim commented on #114
Thanks @kmcgill88 for this clarity.
ah.., almost forgot, thanks to @YoussefKababe also and his efforts on the android side.
We hope to see the package grows and gets stronger... in the future.
💪💪

[2019-12-19 10:58] EliasDeuss commented on #109
@ally159  Can you do flutter doctor -v and comment the output.

[2019-12-19 11:03] EliasDeuss commented on #100
@adithyaxx It could be a issue with flutter itself and the fix is currently only in the master channel.

[2019-12-19 11:06] EliasDeuss commented on #13
@kyungjoongo @Bgumel I am closing this issue because it's inactive. If you are still having the issue please reopen the issue with more info.

[2019-12-19 11:06] #13 closed

[2019-12-19 11:09] EliasDeuss commented on #12
@YoussefKababe @kmcgill88 Has this issue been fixed?

[2019-12-19 11:12] EliasDeuss commented on #15
@Purus There is an example on how to do this in [admob_flutter/example/lib/main.dart](https://github.com/kmcgill88/admob_flutter/blob/master/example/lib/main.dart) Please reopen if this doesn't answer your question.

[2019-12-19 11:12] #15 closed

[2019-12-19 11:14] EliasDeuss commented on #16
@ron109 @nbfajanilan Where you able to fix it with this solution? Thank you @rahulshukla-rs for the quick fix.

[2019-12-19 11:16] EliasDeuss commented on #18
@kestasb Where you able to get a work around for this issue?

[2019-12-19 11:17] EliasDeuss commented on #19
@kapil708 Has this issue still continued on the latest version for you?

[2019-12-19 11:18] EliasDeuss commented on #25
closing this issue because it is no longer valid.

[2019-12-19 11:18] #25 closed

[2019-12-19 11:20] EliasDeuss commented on #28
@Azhankhan03 I think you have mistaken the repo, this is not the repo for firebase_admob . Closing this issue, please reopen this if you think this is wrong.

[2019-12-19 11:20] #28 closed

[2019-12-19 11:21] EliasDeuss commented on #31
@sumitgohil are you still working on this issue?

[2019-12-19 11:24] EliasDeuss commented on #103
@kibhub I don't think you can do what you want to do with a Visibility widget because the banner ad widget has to be always visible. Am I correct @kmcgill88 ?

[2019-12-19 11:26] EliasDeuss commented on #104
@kibhub Closing this issue please look at my reply on #103

[2019-12-19 11:26] #104 closed

[2019-12-19 11:29] EliasDeuss commented on #79
@sampathkumar7 @aleksandar-radivojevic @atereshkov  Are you still having these issues?

[2019-12-20 01:49] adithyaxx commented on #100
Since the stable channel is now 1.12.13, the issue seems to be fixed.

[2019-12-20 01:49] #100 closed

[2019-12-20 03:27] XHL-Mao commented on #54
[flutter/flutter#16049 (comment)](https://github.com/flutter/flutter/issues/16049#issuecomment-382629492)

[2019-12-20 11:37] comlaterra commented on #112
I've solved by adding the information in the AndroidManifest as said here: https://github.com/kmcgill88/admob_flutter/wiki/Installation#android

Cheers

[2019-12-20 11:59] comlaterra commented on #112
So, I've solved it by running first:
[code]
Adding
[code]
to the AndroidManifest.xml and then running it either from console or from VSCode.

Hope this helps

[2019-12-20 14:31] 99darshan commented on #112
@comlaterra Thank you for your help, I tried the steps you've mentioned; unfortunately, the issue is not resolved... I am still getting the error:  [   **+1 ms] Waiting for observatory port to be available...**

[2019-12-20 21:00] EliasDeuss commented on #112
If it’s happening to you with the firebase_admob package too it might be a flutter issue but I will mark this issue as a bug for now.

[2019-12-21 21:57] HusamAamer commented on #71
Since this feature doesn't implemented yet.
I suggest using test unit ids as a workaround to avoid account blocking by admob

**Test ad units here ->** https://developers.google.com/admob/android/test-ads

use it as follows

[code]

[2019-12-23 19:54] anderspetersson commented on #112
Had this error and spent few hours scraching my head, not sure what part was the magic bullet, but I solved this by setting:

android/build.gradle:

[code]

android/app/build.gradle:
[code]

changing  `distributionUrl` in android/gradle/wrapper/gradle-wrapper.properties to `https\://services.gradle.org/distributions/gradle-5.4.1-all.zip`

android/app/source/main/AndroidManifest.xml
Making sure
[co

[2019-12-25 05:49] 99darshan commented on #112
Thanks @anderspetersson, I finally resolved the issue. Here is what I did, I made changes to the android/build.gradle and android/app/build.gradle as you've suggested.

Also, I was mistakenly using AD Unit ID instead of Admob Application Id in the android manifest, which have been causing the error.

The issues is now resolved. Thanks. :)

[2019-12-25 06:11] nyhtn commented on #109
I'm facing same issue.
Could not run iOS with this message.
[code]
flutter doctor output is below
[code]

thank you.

[2019-12-25 06:33] nyhtn commented on #109
I remove pods, Podfile.lock then run pod install and I also try to running in simulator iOS13.3  but nothing work.

[2019-12-26 06:19] EliasDeuss commented on #112
ok @99darshan Going to be closing this now. Thank you @anderspetersson for helping.

[2019-12-26 06:19] #112 closed

[2019-12-27 21:17] recursion1122 opened #115 "AdMob targeting and COPPA/GDPR compliance"
I think this plugin would be really viable if it included targeting options. This is for both relevant ad creation (using a content page, perhaps), and for compliance with COPPA and GDPR on apps that serve people under the age of 18. This will prevent lawsuits and keep the app safe. Perhaps by the time native views becomes stable this could be implemented?

[2019-12-28 04:28] EliasDeuss commented on #115
PR #97 is going too be that

[2019-12-29 01:37] DigitalSolomon commented on #86
Any improvements with this @josiasfabricio ?

[2019-12-30 19:26] josiasfabricio commented on #86
Unfortunately, no

[2020-01-02 15:49] erperejildo opened #116 "Show banner on all pages"
How could I show the banner on all pages without modifying one by one?

[2020-01-02 16:22] erperejildo opened #117 "Bad performance with Hero widget"
I have an hero animation between pages and also I'm loading a banner on the initial page. Both animations have a really bad performance.

I guess I could wait till the page has been loaded and the animation is ready but I'd display the banner widget after all of this creating a not really good UX

[2020-01-03 07:34] hosaysg opened #118 "App Crash when the back button is tapped"
This plugin is causing the following crash issues whenever the back button is tapped on a view with the banner view loaded. Is there a way to correctly dispose the banner?

Fatal Exception: java.lang.RuntimeException: Cannot execute operation because FlutterJNI is not attached to native.
       at io.flutter.embedding.engine.FlutterJNI.ensureAttachedToNative(FlutterJNI.java:227)
       at io.flutt

[2020-01-03 17:09] heshaShawky commented on #118
This happening to me too with the same error too, the problem comes when putting a banner ad on the home screen and closing the app by the back native button!

[2020-01-03 21:33] hosaysg commented on #118
Yes, exactly. Otherwise, this plugin is working flawlessly.  Please fix this issue soon.  Thanks.

[2020-01-05 05:59] EliasDeuss opened #119 "Support MacOS"
Flutter now supports MacOS in the dev channel, this should be looked into. I have heard it's pretty easy because this already supports iOS.

[2020-01-06 05:23] vijaydhakal commented on #101
It is working with a test id. But when replaced with release id and run with release mode, it's not working.
It is showing error like:
`AdmobAdEvent.failedToLoad{errorCode: 3}`

[2020-01-06 08:23] atereshkov commented on #106
Same issue for iOS

[2020-01-07 18:10] abhijeet971992 opened #120 "Execution failed for task ':admob_flutter:compileDebugKotlin'"
I am facing this wierd issue. I tried everything but this won't go away. Need help.
Following is the stack trace:
`
F:\My Projects\Infonotics\Stocklytics\CI\1.Dev\Flutter\dev_stocklytics>flutter run --verbose
[  +26 ms] executing: [C:\flutter\] git -c log.showSignature=false log -n 1 --pretty=format:%H
[  +55 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pretty=format:%H
[

[2020-01-08 21:50] heshaShawky opened #121 "Ads Not Showing after I signed the app"
The Ads was working fine with real ads ids not testing once, but after I have updated the `build.gradle` file to signing my app

Then I hit `flutter run -d <MyAppID> --release` the ads not working and returns `error code 3 `on `console` but working fine in debug mode `flutter run -d <MyAppID>` without `--release`

Working also fine if I get my `build.graddle` like it before (default).

[2020-01-12 23:47] krobawsky opened #122 "dont run the app :( what happened?"

[2020-01-12 23:56] EliasDeuss commented on #122
Can you give us more info about your issue @krobawsky ?

[2020-01-12 23:59] EliasDeuss commented on #121
@heshaShawky did you add this to your manifest?

[code]

[2020-01-13 00:00] EliasDeuss commented on #118
@hosaysg @heshaShawky Are you disposing the ads in ```dispose()``` ?

[2020-01-13 02:01] hosaysg commented on #118
There doesn’t seem to be a way to dispose the ads so I did not do it in the dispose() function.

[2020-01-13 03:10] krobawsky commented on #122
The app works fine, but when I add the dependencie in the pubspec.yaml file the app start slow and close. I don't konw what's goin on.
![14b585c2-ab19-4769-a650-b3591b44a258](https://user-images.githubusercontent.com/29064896/72231222-46ed4280-3588-11ea-820c-6610286e4b42.jpg)

[2020-01-13 15:13] heshaShawky commented on #118
there's no way to dispose of the Banner ads on the documentation provided [here](https://github.com/kmcgill88/admob_flutter/wiki/Banner-Ads)

Also, No,  it's not related to that issue as once I remove the bannerAd widget from the home screen no issues happening ( crashing ) to my app.

I'm using now the interstitial add instead until this issue gets solved.

[2020-01-14 13:45] daneed opened #123 "Needs Swift-based flutter project. Default Objective C won't build"
Hi!
I generated my flutter project with default settings. This generates objective-c source and xcode project files for ios. If I try to use admob_flutter in my project, the result is compile error, which is related to Swift, and unresolved symbols (this is a linking error).
If I regenerate my project's ios part with the -i swift flag: admob_flutter works well.

Is It a known issue? It is easily r

[2020-01-14 15:18] kmcgill88 commented on #123
This is a known issue. If you could PR a fix so this is compatible with Obj-C & Swift based projects that would be great. I don't use Obj-C anymore so I don't really have the energy to support it.

[2020-01-14 15:20] kmcgill88 commented on #122
Did you follow the install [instructions](https://github.com/kmcgill88/admob_flutter/wiki/Installation)?

[2020-01-14 15:23] daneed commented on #123
Hi!
OK, thank you. I just wrote this, because Flutter's default behavior is (as i know), that it creates obj-C project, instead of Swift!
So, maybe this would be good to emphasize, that with such kind of project, this admob_flutter won't work. Like, it would be clever to be put into README. This would spare time for users like me.
Thanks for the answer!
Best regards, Daniel

[2020-01-16 03:34] hmtanbir commented on #122
@kmcgill88 I also fetch same problem.

[2020-01-16 18:16] rajeshjeshar opened #124 "Smart Banner is crashing the UI"
While choosing banner ad=>Smart banner,it crashes the UI.
In case [Adaptive Banners](https://developers.google.com/admob/android/banner/adaptive) is possible to implement that will be helpful

[2020-01-17 15:58] heshaShawky commented on #121
Yea I did of course, The issue from google not flutter the adds need time to recognize the new app ids so after published the app the ads just get works

[2020-01-17 15:58] #121 closed

[2020-01-20 12:39] droplet-js opened #125 "Add UserId Support"

[2020-01-20 17:08] abriochebun commented on #122
I had the same problem. I fixed it by making sure I had the **app unit id** in the manifest file. I accidentally placed the ad unit id. Make sure that the manifest file (if making an android app) and the info.plist (if making an ios app) have a "~" in the middle instead of the "/". The app unit id will have a "~" in the middle of it. You can find the app unit id on the AdMob site. It should look s

[2020-01-20 23:38] heshaShawky commented on #118
Why no updates in this?
please, I have multiple apps waiting to publish based on that issue.

Thanks.

[2020-01-21 22:27] DanielSmith1239 commented on #120
I'm having the same issue.

[2020-01-26 10:03] trqalothman commented on #114
Thanks to @kmcgill88 and @YoussefKababe , this is a great package.

Can you please make it so that we can use "const" and prevent ad refresh on every state change!

Thanks a lot!

[2020-01-27 13:42] oberon168 commented on #118
Any dispose function that can be used to clean up before exit?

[2020-01-29 19:05] OmarQataberi opened #126 "Crash on Phone Screen Rotation"
I've tried to put the banner ad in the `SliverList` and in the `bottomNavigationBar` and it gave me the same crash when I rotate the screen

[code]

[2020-01-30 13:17] trqalothman commented on #18
Any update/fix for this issue? it is one thing that is holding me back from the new release :(

[2020-02-01 11:19] takekapp1990 commented on #122
I had the same problem too and it was caused by my mistake in the manifest file. I'm working on Android. In the AndroidManifest.xml, I wrongly put the \<meta-data\> tag under the \<activity\> tag as below and it should be directly under the \<application\> tag:

[code]

[2020-02-03 09:11] Sh1d0w opened #127 "iOS: Error when clicking on ad and returning back to app"
After I click an Ad and it opens in the browser, if I navigate back to the flutter app I get this error in the console:

[code]

After that no ads will render at all until I close and reopen the app.

[2020-02-05 19:20] tonypottera24 commented on #118
Same issue

[2020-02-06 10:43] tonypottera24 opened #128 "User metrics always shows 0"
Does anyone know why my "User metrics" always shows 0?
I'm using `admob_flutter: ^0.3.4`
Apps > App overview > User metrics
<img width="482" alt="Screen Shot 2020-02-06 at 6 42 16 PM" src="https://user-images.githubusercontent.com/3013707/73929822-7a658780-4910-11ea-919b-8764a4e8875f.png">

[2020-02-07 19:01] luebkedm commented on #120
Same issue here since updating flutter to:
[√] Flutter (Channel stable, v1.12.13+hotfix.7, on Microsoft Windows [Version 6.1.7601], locale de-DE)
    • Flutter version 1.12.13+hotfix.7 at C:\Users\luebke\AppData\Local\Android\flutter
    • Framework revision 9f5ff2306b (12 days ago), 2020-01-26 22:38:26 -0800
    • Engine revision a67792536c
    • Dart version 2.7.0

[√] Android toolchain - develo

[2020-02-08 15:33] jonatadashi commented on #128
Here also! Using 1.0.0-beta

[2020-02-10 03:24] samgermain commented on #108
@night-wielder Could you elaborate please, I don't know where manifest is or what the app id is

[2020-02-10 20:46] #18 closed

[2020-02-11 07:22] atereshkov commented on #128
Tap the "Learn more" url. It should be enabled like stated here https://support.google.com/admob/answer/9263723?hl=en

But in my case it looks like I've enabled it (or it was enabled by default) but I also have zeroes.

[2020-02-11 14:21] thesmartrenovation opened #130 "Flutter Web Support"
Is it possible that this plugin works in flutter web?

[2020-02-11 14:59] machkonti opened #131 "example code implementation error"
Hello,
I have a strange problem with implementation [example](https://github.com/kmcgill88/admob_flutter/blob/master/example/lib/main.dart) code into my own project. I've tryed many different approaches but still, the banners are shown (just test ones) and got the same error:

E/flutter (25773): 	at io.flutter.plugin.platform.PlatformViewsController$1.createPlatformView(PlatformViewsController.jav

[2020-02-12 07:45] EliasDeuss commented on #130
@thesmartrenovation Web support isn't currently supported.

[2020-02-13 17:16] machkonti commented on #131
Ok, it seems there is a progress in error reporting ...
now i recieve the following as an debug string in console:

E/AccessibilityBridge(16330): VirtualView node must not be the root node.
W/Ads     (16330): Not retrying to fetch app settings
I/Ads     (16330): Ad failed to load : 3
I/Ads     (16330): Use RequestConfiguration.Builder().setTestDeviceIds(Arrays.asList("A71D77ED6774263FDE5DC34BCCE67

[2020-02-13 21:05] gladiator2b opened #132 "Migrate to the Play Install Referrer API"
hi,
I received this email from Google, I don't know what to do because it comes from admob_flutter

 Hello Google Play Developer,

We recently announced that we’ll be deprecating the install_referrer intent broadcast mechanism. Because one or more of your apps uses this intent to track referrals, we wanted to ensure you make the switch before March 1, 2020. After this date, new versions of the Pla

[2020-02-14 17:47] EliasDeuss commented on #132
Can you look at this @kmcgill88

[2020-02-14 17:53] EliasDeuss commented on #131
@machkonti

The first error (E/AccessibilityBridge(16330)): https://github.com/flutter/flutter/issues/45928
(I don't know why this error would be affecting you though.)

Error code 3: The ad request was successful, but no ad was returned due to lack of ad inventory. ( https://stackoverflow.com/questions/33566485/failed-to-load-ad-3 )

```RequestConfiguration.Builder().setTestDeviceIds(Arrays.asLis

[2020-02-14 17:58] EliasDeuss commented on #127
@Sh1d0w Can you share a ```flutter doctor-v``` output.

[2020-02-14 18:01] Sh1d0w commented on #127
@EliasDeuss Sure, here it is:

[code]

[2020-02-15 17:17] gladiator2b commented on #132
hi,
i think the problem will be for all admob_flutter users

[2020-02-16 00:01] YoussefKababe commented on #132
Hello @gladiator2b,

We are not using install_referrer in this package directly, it’s something that one of the packages we depend on uses (com.google.firebase:firebase-ads:18.3.0). You really have nothing to do by yourself for now, and we can’t do anything either. We just have to wait for google to release an updated firebase-ads package that doesn't use the install_referrer intent.

Check this o

[2020-02-16 00:02] #132 closed

[2020-02-17 16:49] bishalstha opened #133 "Permission error and breaks the app"
This occurs irregularly but does occur. It show the following error on the console.

`java.lang.SecurityException: Permission Denial: broadcast from android asks to run as user -1 but is calling from user 0; this requires android.permission.INTERACT_ACROSS_USERS_FULL or android.permission.INTERACT_ACROSS_USERS`

[2020-02-18 22:51] hobiyazilim commented on #118
plugins I tried to add and try. I encountered the same problem in all of them. There is no problem when there is no internet connection.
admob_flutter: "^0.3.4"
native_flutter_admob

[2020-02-19 11:39] heshaShawky commented on #118
Any updates with this guys?

[2020-02-19 15:52] tonypottera24 opened #134 "crash on android sdk < 20"
The "PlatformView" used by this project raises errors for SDK version < 20 Android phones.
Currently, I've to use third party packages to check the Android SDK version.
It would be great to check this on the android side.

[2020-02-20 13:20] tonypottera24 opened #135 "crash on android without google play"
Use android emulator without google play cause app crash.
Adding try catch at android level might be able to solve this problem?

`W/Ads     ( 2336): #007 Could not call remote method. @-1
W/Ads     ( 2336): com.google.android.gms.internal.ads.en: com.google.android.gms.dynamite.DynamiteModule$a: Failed to instantiate module class: com.google.android.gms.ads.measurement.DynamiteMeasurementManager

[2020-02-20 15:34] exptk3 commented on #110
Today I saw admob related error logs that contain the following error message as the title of this topic.
 : Missing google_app_id. Firebase Analytics disabled. (In addition, you will see various error messages related to AdMob.)

A few days ago, when I saw an advertisement, I didn't see this error message, but I saw it for the first time today.
So while looking for the reason, I recalled the rece

[2020-02-24 10:25] benevolent13 commented on #18
Doesn't work for me.It gets reloaded everytime setState is called. :(

[2020-02-25 04:37] zfc0812 opened #136 "How to prevent banner from reload when setstate?"
In my app, I need to call setstate on text change, but this is causing the Admob banner widget keep refreshing. How to prevent it from rebuild? I tried const, but AdmobBanner do not support it.

[2020-02-25 04:48] #136 closed

[2020-02-25 04:50] zfc0812 commented on #136
Just noticed the issue has been addressed here:
https://github.com/kmcgill88/admob_flutter/pull/129

[2020-02-26 04:38] kaymly commented on #110
Same here: Missing google_app_id
admob_flutter: "^0.3.4" on android.

[2020-02-26 15:48] erperejildo commented on #18
this didn't work for me

[2020-02-26 15:52] erperejildo commented on #18
This quite important error has more than a year now

[2020-02-26 17:01] sumitgohil commented on #18
I'm not sure if I've solved the problem or not in some niche manner. But it has kinda worked for me. Also, I don't remember the changed I mad. I changed channel name too inside the package so PR won't be a good idea. I can create a git repo with my lib and someone can check if that works.

[2020-02-26 17:07] sumitgohil commented on #18
I am not sure if I've made a solution to this, but it kinda worked for me. I made changed to this long back and I don't really have a track on them. I've also changed channel names and it's done to fork of a previous version of this lib. It might not contain features available in the newer version. I've added this to my repo. If someone could check and see if this works.

https://github.com/sumitg

[2020-02-27 00:52] ajosecueto commented on #131
i have the same error... what happened?

[2020-02-27 02:37] EliasDeuss commented on #18
@sumitgohil @erperejildo It is in the package but hasn't been updated in the pub.dev

Use this for now:

[code]

[2020-02-27 11:44] erperejildo commented on #18
I can confirm this, it works.

Let's see when this gets merged

[2020-02-27 11:58] erperejildo commented on #91
2 tests here with smartBanner (wrong) and mediumRectangle (correct):
![Screenshot_1582804587](https://user-images.githubusercontent.com/5629919/75442974-cb412c80-5960-11ea-8f38-0594ad923ea2.png)

![Screenshot_1582804570](https://user-images.githubusercontent.com/5629919/75442998-d1370d80-5960-11ea-9301-d26f973d869b.png)

The container is responsive because it takes 100% of its parent width but the

[2020-02-27 17:13] hobiyazilim commented on #118
import 'package:admob_flutter/admob_flutter.dart';
import 'package:flutter/material.dart';
import 'AcApp.dart';

import 'package:flutter/material.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  // This widget is the root of your application.
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Flutter Demo',
      home: Scaffold(

[2020-02-27 17:14] hobiyazilim commented on #118
``import 'package:admob_flutter/admob_flutter.dart';
import 'package:flutter/material.dart';
import 'AcApp.dart';

import 'package:flutter/material.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
// This widget is the root of your application.
@override
Widget build(BuildContext context) {
return MaterialApp(
title: 'Flutter Demo',
home: Scaffold(
appBar:AppBar(title

[2020-02-29 13:21] exptk3 opened #137 "Listener not working bug in reward Ads"
* Environment
 - Android studio
 - Android emulator and Real Device
 - Android sdk(24 ~ 29)
 - Flutter 1.12.13+hotfix.7
 - Tested on Flutter Admob 0.3.4

* Description
Reward ads works during testing, but if you close and open the app, the listener you set for the reward ads will not be applied and you won't be able to do any subsequent work, such as ad reloading and reward processing.
This happen

[2020-03-02 18:06] rubenaalders commented on #118
Hiding the banner before closing the app does indeed seem as a workaround as mentioned by @hobiyazilim.

[2020-03-06 10:47] sobhan15 commented on #137
i faced same issue

[2020-03-07 11:08] erperejildo opened #138 "AdmobBanner loaded method"
we have a loaded method for the interstitial, but could we have the same for the banner? I need to check this before calling it again

[2020-03-08 10:36] computerzman commented on #138
i need the  same feature

[2020-03-09 08:06] saiko123 opened #139 "how to do not to close interstitial ads before finished when user press back key in flutter"
I could exit the interstitial ads before its finished with back key in my app. And how to solve it not to close before ads finished.

[2020-03-10 06:51] Omi231 commented on #139
It is against google's policy. If you do so then your app will be banned from using admob and your account can also be suspended.

[2020-03-10 13:27] mahadydev commented on #31
this problem still persists. any update?

[2020-03-10 13:34] calber commented on #54
still not working, any update ?

[2020-03-10 14:21] kmcgill88 commented on #54
https://github.com/kmcgill88/admob_flutter/issues/54#issuecomment-524782853

https://github.com/kmcgill88/admob_flutter/issues/54#issuecomment-529354951

[2020-03-11 10:48] lvlrSajjad opened #140 "[admob_flutter] Cannot find an ad network adapter with the name(s): GADMAdapterFacebook"
I installed and used flutter admob  plugin properly from docs but I'm getting this error sometimes
[code]

My pubspec deps
[code]
my flutter doctor:
[code]

[2020-03-11 10:49] lvlrSajjad commented on #140
Sorry wrong plugin

[2020-03-11 10:49] #140 closed

[2020-03-11 12:16] floteew commented on #110
Same here. Worked fine when using the test id and get the same error when using the real admob id

[2020-03-12 02:10] telinx commented on #64
configuration error, check your profile

[2020-03-14 19:22] mustafabhatkar commented on #106
Any updates on this? The ads do show up on iOS simulator but no luck on the real device. Also sometimes when I hot reload the app the ads are shown on real device too. But that's of no use.

[2020-03-15 10:02] Nik-Alex opened #141 "Bad appl performance if banners contain video or animations"
On the release build, the application is very slow and has poor performance if the banners contain video or animation. Lags absolutely everything, scrolling lists, animations, transitions between screens. However if the banners are static without animations and videos, then everything works fine.
I compared this library with _firebase_admob_ and with that library app with video/animated banners wo

[2020-03-17 19:48] pamir72 commented on #118
Not just banner. I hide google map before exit app with @hobiyazilim workaround and it works. But would like to see the flutter team solve the problem.

[2020-03-21 14:32] oom- commented on #133
I have same problem:
[code]

They should write somewhere which permissions we needs to add for using this package

[2020-03-22 04:34] tonypottera24 commented on #134
`firebase_admob` with `multidex` works fine for android sdk < 20.

[2020-03-22 04:34] #134 closed

[2020-03-22 04:35] tonypottera24 commented on #128
I moved to `firebase_flutter` and everything works as expected.

[2020-03-22 04:35] #128 closed

[2020-03-22 04:36] #135 closed

[2020-03-23 08:16] EliasDeuss commented on #122
@krobawsky did @takekapp1990 suggestion work for you?

[2020-03-24 00:07] rasitkozan commented on #120
### **android/build.gradle**

`ext.kotlin_version = '1.3.21'`
`dependencies {
        classpath 'com.android.tools.build:gradle:3.5.3'}`

 ### **android/gradle/wrapper/gradle-wrapper.properties**

`distributionUrl=https\://services.gradle.org/distributions/gradle-5.4.1-all.zip`

### **pubspec.yaml**

[code]

[2020-03-26 06:44] theindianappguy opened #144 "Important WIKI Update"
https://github.com/kmcgill88/admob_flutter/wiki/Banner-Ads

❌ AdmobBannerSize.**Banner**: 320x50

should be updated to

✅ AdmobBannerSize.**BANNER**: 320x50

[2020-03-26 07:44] EliasDeuss commented on #144
fixed

[2020-03-26 07:44] #144 closed

[2020-03-28 16:58] nanox77 commented on #141
I have same problem. The app is very slow then has banner on list view. I used `admob_flutter: ^0.3.4` version.

[code]

[2020-03-31 07:32] mathias22osterhagen22 opened #145 "Banner doesn't show"
I followed all steps:
1. Add in AndroidManifest.xml the metadata:
![image](https://user-images.githubusercontent.com/60438474/77998410-5c753b80-7331-11ea-8e86-d24d12dc4606.png)
![image](https://user-images.githubusercontent.com/60438474/77998439-65fea380-7331-11ea-9497-350dacb83a43.png)

2. Add in main the init part:
![image](https://user-images.githubusercontent.com/60438474/77998857-08b72200-733

[2020-03-31 16:13] mathias22osterhagen22 commented on #145
Ok for peoples that are passing here.

You need to validate your payment method on AbMob + wait 24h. Else banners will not shows up.

[2020-03-31 16:13] #145 closed

[2020-04-01 10:21] mathias22osterhagen22 commented on #118
Same issue here, still not fixed.

Works when the banner Widget is not displayed.

[2020-04-01 10:24] mathias22osterhagen22 commented on #118
@hob
[code]
Same code above but readable

[2020-04-02 14:51] Mr-B-Fellow opened #146 "Stuck at flutter stuck at Waiting for observatory port to be available..."
When this plugin is installed in the flutter project, the flutter app is not running. It is stuck at "flutter stuck at Waiting for observatory port to be available..." when running flutter run --verbose. Project works completely fine when i remove this plugin from pubspec.yaml.

Running flutter doctor -v:
[flutter doctor -v.txt](https://github.com/kmcgill88/admob_flutter/files/4421757/flutter.doct

[2020-04-03 07:54] mathias22osterhagen22 opened #147 "Banner doesn't show if someone click on it + resume app"
On my main page I have an **AdmobBanner** widget:

1. Click on it open the advertising windows
2. Resume on app, the **AdmobBanner** does not show up anymore.

[2020-04-03 08:00] mathias22osterhagen22 commented on #147
Linked with fix of this issue: https://github.com/kmcgill88/admob_flutter/issues/118

[2020-04-03 08:00] #147 closed

[2020-04-04 21:56] Riscait commented on #126
素晴らしいパッケージをありがとうございます。
この問題はAndroidのみではなくiPhoneでも起こりました。
iPhoneの画面を回転させてから戻すとNavigationBarとTabBarの位置がおかしくなります。
そして、それを2、3回繰り返すとアプリがクラッシュします。
AdMobを非表示にすれば、問題は発生しません。

[2020-04-04 21:56] Riscait commented on #126
Thank you for the great package.
This problem happened not only on Android, but also on iPhone.
The position of NavigationBar and TabBar is not correct if the iPhone screen is rotated and then moved back.
And if you repeat it two or three times, the app will crash.
If you hide AdMob, you won't have any problems.

[2020-04-06 11:16] willladislaw opened #148 "pod install output"
[!] CocoaPods could not find compatible versions for pod "Google-Mobile-Ads-SDK":
  In snapshot (Podfile.lock):
    Google-Mobile-Ads-SDK (= 7.55.1, ~> 7.50)

  In Podfile:
    admob_flutter (from `.symlinks/plugins/admob_flutter/ios`) was resolved to 1.0.0-beta.2, which depends on
      Google-Mobile-Ads-SDK (~> 7.57)

Specs satisfying the `Google-Mobile-Ads-SDK (= 7.55.1, ~> 7.50), Google-Mobile

[2020-04-06 11:40] #148 closed

[2020-04-06 11:40] willladislaw commented on #148
pod update

[2020-04-09 07:04] Nik-Alex commented on #141
Checked on **1.0.0-beta.2**. The issue is still reproducible in each case.

[2020-04-09 21:53] MaddPenguin opened #149 "Ads serving has been limited"
Pardon me if this is an unrelated issue. I am new to flutter development and in serious need of help.

This is my second time receiving such message.

I am unsure if my implementation is wrong or something else.

My app:
- Admob initializes in my main.dart
- on second page i have a list view with multiple ads (max 2) in the list. There's multiple drop-down button which triggers setstate as user ma

[2020-04-10 02:10] MarcoSoares11 commented on #149
I went through the same problem a few weeks ago... my solution for this was to make another Admob App (of the same app I'm developing), and connecting it to the Google Play Store by linking. This solved the problem for me, and from what I know, it is caused for a few reasons, including clicking on your own ads, that is against the Admob policies.

[2020-04-13 00:58] SlickSlime commented on #137
Any update on this issue?

[2020-04-13 09:15] anilbhomi commented on #149
I am having the same issue. I don't know where I went wrong
@MarcoSoares11 what do you mean by "make another AdMob app"?
Does it mean to purchase a new developer account and upload the app with the new package name?

[2020-04-13 23:34] MarcoSoares11 commented on #149
@anilbhomi No, what I mean is simply go to your Admob console and on (Apps > Add app) and create a new admob app for your same app. Now just transfer over all the Ad Units and just change the Admob App ID on your app config, (AndroidManifest and wherever you have defined the value of Admob App ID)... this worked for me, and now my ads are displaying normally.

[2020-04-15 10:07] miwaigyi opened #151 "Ads only work in debug mode. When sign and create release app. Ads stop showing."

[2020-04-16 15:12] toldia commented on #110
I have the same error:  Missing google_app_id.

Please, help us!

[2020-04-18 17:34] pazhut opened #152 "Fail on Pod dependency"
i got the following error for the POD installer:

    [!] CocoaPods could not find compatible versions for pod "FirebaseAnalytics":
      In snapshot (Podfile.lock):
        FirebaseAnalytics (= 6.4.0)

      In Podfile:
        admob_flutter (from `.symlinks/plugins/admob_flutter/ios`) was resolved to 0.3.4, which depends on
          FirebaseAnalytics (~> 6.1.3)

only that 6.4.0 seems newer vers

[2020-04-22 23:40] pazhut commented on #152
Found an issue with the Podfile.lock, resolved

[2020-04-22 23:40] #152 closed

[2020-04-24 13:26] anilbhomi commented on #149
I have already linked my app to Admob and now I can't undo it according to documentation. Do you have any idea regarding this because my app still has that particular issue? Even if I do as per your suggestion I need to publish the same app with the different package name.

[2020-04-25 06:15] EliasDeuss commented on #151
@miwaigyi Can you provide more info?

[2020-04-26 09:38] aldwnesx opened #153 "ads dont show"
banner ads dont show if I have a futurebuilder as part of the widget ree... if I remove it the ads show, otherwise it just keeps loading... the ad is not part of the builder so i don't think it'll be affected

[2020-04-26 12:08] sumitkanoje commented on #146
Same issue with me

[2020-04-26 18:35] ferdigokdemir commented on #110
Taking same error :

Missing google_app_id. Firebase Analytics disabled. See https://goo.gl/NAOOOI

GoogleService failed to initialize, status: 10, Missing google app id value from from string resources with name google_app_id

[2020-04-28 04:00] domizilver opened #154 "adaptive_banner size"
i cant choose this one. i try to look it up but i can only find java/kotlin support, not flutter

[2020-04-28 09:11] EliasDeuss commented on #154
Adaptive banner is supported in the latest pre release. Check the Repo Wiki for more info on banner types.

[2020-04-28 09:11] #154 closed

[2020-04-28 19:46] ouzari opened #155 "How to add test device?"
I did a lot of search and I did not find how to add a test device with this plugin like :
RequestConfiguration.Builder().setTestDeviceIds(Arrays.asList("21FD3848F44F7D9486A53034D154566F")
Please help.
And thank you for the plugin.

[2020-04-30 12:37] Skyost opened #156 "Ads are too slow to load"
In release mode an ad takes at least five seconds to load. It's too slow for me, as they're shown in only a specific part of my app that users quickly skip.

Is there a way to improve the plugin's performances ?

[2020-04-30 16:49] EliasDeuss commented on #54
This has been fixed in #150

[2020-04-30 16:49] #54 closed

[2020-04-30 16:51] EliasDeuss commented on #155
Currently not a way in this plugin @ouzari . There is a open pull request for it though #90

[2020-04-30 16:51] #155 closed

[2020-04-30 18:07] EliasDeuss commented on #124
@rajeshjeshar Adaptive Banners has been added?

[2020-04-30 20:31] amanv8060 commented on #151
same happening with me

[2020-04-30 20:31] amanv8060 commented on #151
what info do you need?

[2020-05-01 07:15] amanv8060 opened #157 "ads not work in release mode"
Ads work only when
the signing config is set to debug

[2020-05-01 21:27] yiss commented on #157
This happens to me as well, it just need some time to get approved. For me once the app was live on the app store it was working fine

[2020-05-02 08:57] amanv8060 commented on #157
Seems a Proguard issue . Solved after that

[2020-05-02 08:57] #157 closed

[2020-05-02 16:01] usavas commented on #122
@kmcgill88 I think you should add the installation instructions in the flutter package page and in the main README page of this repository.

[2020-05-02 16:03] kmcgill88 commented on #122
@usavas I've bee very just and haven't been able to work on his project. PR'S are very welcome.

[2020-05-02 16:10] usavas opened #158 "BannerAd doesn't show up on Android (by the default installation process) although intersititial and reward ads show without problem."
I followed the installation process as depicted in the wiki and copied the code into the main.dart file.
Everything else works perfectly but banner ad does not show up although it takes space (responsively to the pressing of button "Banner Size".

And here is the output in the debug console:
D/DynamitePackage( 9571): Instantiating com.google.android.gms.ads.ChimeraAdManagerCreatorImpl
I/Ads     (

[2020-05-02 20:08] #158 closed

[2020-05-04 14:16] saulowilson commented on #151
Provide more info of your approach that you are using to implement ads. Is your ads provider Admob? How are your AndroidManifest?

[2020-05-06 09:44] hsnbsst opened #159 "Ad failed to load : 3"
Ads are not showing on my phone, but the emulator also shows in test mode. as the error code: Ad failed to load: 3
i'm also sure you did everything right

[2020-05-06 11:26] pallavbohara commented on #151
Yes. Same problem.Not able to see bannar in release mode . I am using version admob_flutter: **"^0.3.4"** and with following version for flutter doctor

Also RewardAd, InterstialAd ads are not working in debug mode.

[2020-05-06 13:49] therichiekumar commented on #159
I face the same issue

[2020-05-06 13:51] therichiekumar commented on #158
Can you resolve this issue?
If yes, please guide us🙏

[2020-05-06 14:16] hsnbsst commented on #159
admob income is very low due to this event, and admob match is 28%

[2020-05-07 18:02] js2702 commented on #63
I had the same issue and I fixed it adding:

[code]
In the info.plist. Neither the test ads nor the normal ads where working without this on Flutter 1.17.0. Everything is fine now.

[2020-05-08 00:35] yiss commented on #159
Do you have any special proguard rules ? are you testing on device or emulator ?

[2020-05-08 05:55] DamonChen117 commented on #46
In the build method of _AdmobBannerState

for Android:
[code]

for IOS
[code]

I don't understand why they are different.

[2020-05-08 06:49] klikpaspor opened #160 "warning: unnecessary safe call on a non-null receiver"
im using

[code]
C:\flutter\.pub-cache\hosted\pub.dartlang.org\admob_flutter-0.3.4\android\src\main\kotlin\com\shatsy\admobflutter\AdmobBanner.kt:24:27: warning: unnecessary safe call on a non-null receiver of type kotlin.collections.HashMap<*, *>? /* = java.util.HashMap<*, *>? */
    adView.adUnitId = args?.get("adUnitId") as String?
[code]

[2020-05-08 22:56] hsnbsst commented on #159
we have no special protection rules. receive impressions on test device but not on actual device

[2020-05-09 00:11] Nikolak47 opened #161 "Ads are not loading"
I integrated everything as in the tutorial, but the ads are not displaying/loading.
PS: When I use firebase_admob plugin, the ads are loading.

[2020-05-09 06:51] c4talyst commented on #115
Also wanting the targeting support. Noticed big drop in CPM since implementing this package VS firebase_admob plugin.

[2020-05-09 23:49] LeonIPierre commented on #161
do you see any errors when brining up logcat?

[2020-05-12 09:02] y4gamilight commented on #159
because in this version still can't add targetinfo.
In target info you will add device id to test

I found a folk branch https://github.com/jpainam/admob_flutter will resolve your problem . He created merge request but it is failure

[2020-05-12 15:04] miwaigyi commented on #151
Everything working fine after upload application to playstore. Tips- Don't sign app if u don't intent to upload ur app to playstore.

[2020-05-12 15:04] #151 closed

[2020-05-12 22:15] Nikolak47 commented on #161
Actually, yes.
Usually 'Error: 3', when I try to open interstitial ad.

[2020-05-12 22:44] Nikolak47 opened #162 "[TargetingInfo] Added targeting info to the newest version"
Hey!
I just added targetingInfo (from the guy who failed to merge) to the newest state of the package.
Too lazy to make a pull request, so I'll just upload the zip file, for someone to do it.
**Package (WeTransfer link):**
https://we.tl/t-SfTm7GqAmu

If you find any problems/bugs, message me.
Will be glad if this is added to the newest version.
**As file:**
[admob_flutter-withTargetingInfo.zip](ht

[2020-05-13 14:49] danielgchap commented on #159
I face the same issue:

I/Ads     (23019): Use AdRequest.Builder.addTestDevice("xxxx") to get test ads on this device.
I/Ads     (23019): Ad failed to load : 3
I/Ads     (23019): Use AdRequest.Builder.addTestDevice("xxxx") to get test ads on this device.
W/Ads     (23019): Not retrying to fetch app settings
I/Ads     (23019): Ad failed to load : 3

[2020-05-13 14:50] danielgchap commented on #161
I believe I'm having a similar issue:

W/Ads     (23019): Not retrying to fetch app settings
I/Ads     (23019): Ad failed to load : 3
I/Ads     (23019): Ad failed to load : 3

Thanks!

[2020-05-14 00:51] Nikolak47 commented on #159
@y4gamilight did you manage to make it work with the code from his branch ?
Because I still can't.
I set my device ID to 'testDevices', I did everything right, but still the ads are not showing.
Has anyone found a fix for this ?
PS: My app is not published in playstore, but I don't think that will be a problem.

[2020-05-14 03:07] y4gamilight commented on #159
@Nikolak47  you use can implement plugin with syntax
dependencies:
  plugin1:
    git:
      url: git://github.com/flutter/plugin1.git

[2020-05-14 21:45] Nikolak47 commented on #159
@y4gamilight I did it.
Still doesn't work.
I implemented this branch, but still can't see the ads on my phone, event though I put my deviceID in test devices

[2020-05-14 23:22] yiss commented on #162
I can make the pull request and implement it

[2020-05-14 23:44] Nikolak47 commented on #162
@yiss Yes, do it please :)
Also, can you tell me if it shows you ads on your physical device ?

[2020-05-15 00:00] kmcgill88 commented on #162
Whats up @yiss and @Nikolak47

I'm sorry I've been busy with my day job. If you have a solid solution for targeting please PR it. I'll be getting back to this project soon. I'm also going to need web support!

[2020-05-15 02:16] LeonIPierre commented on #161
A quick search yields this result:
https://stackoverflow.com/questions/33566485/failed-to-load-ad-3

Do ads using test ids load?

[2020-05-15 07:03] DeadlyMissile opened #163 "Interstitial failedToLoad won’t fire"
Interstitial failedToLoad won’t fire. All other listeners are working fine

[2020-05-15 09:59] yiss commented on #162
Hi @kmcgill88 we totally understand no worries. I'm happy to help

[2020-05-15 10:09] davidmartos96 commented on #162
I would love to see this feature implemented. I'm currently using a fork which adds an optional parameter "personalizedAds" to comply with the GDPR.

[2020-05-15 10:10] yiss commented on #162
@davidmartos96 can you link this fork please so that I can take a look at it ?

[2020-05-15 10:52] davidmartos96 commented on #162
@yiss Sure, it's https://github.com/js2702/admob_flutter and the branch `non_personalized`.

[2020-05-15 11:53] danielgchap commented on #161
Test ads, of any kind, work fine. Banner ads load, but only with test ids. Otherwise, they are just a black box. iOS continues to work just fine. Thanks.

[2020-05-15 14:31] yiss commented on #162
Here is the pull request #164 I added the same AdRequestFactoryBuilder used by the official Flutter admob plugin the modifications work fine I tested it on my mobile device : https://drive.google.com/file/d/1eNftPAGkBXPnX8vRRs1lReMTYj83Vqt-/view

[2020-05-15 15:02] Nikolak47 commented on #162
@yiss Can you tell me how to use it ?
Here is my implementation, step by step:
1. I declare MobileAdTargetingInfo kTargetingInfo = MobileAdTargetingInfo(...) *put my deviceID in 'testDevices' and 'keywords'
2. I declare AdMobBanner and put the kTargetingInfo as parameter *tried also with Test Banner Id
3. I launch the application to my mobile device and the ads are not showing

[2020-05-15 15:31] yiss commented on #162
@Nikolak47 I use
[code]
And then I use it
[code]

And for the Banner :

[code]

I forgot to update the main.dart in example I just did :) cheers

[2020-05-15 15:54] yiss commented on #162
Normally if it's working properly it should print `I/Ads     (30315): This request is sent from a test device.` in the console

[2020-05-15 18:35] yiss commented on #162
@Nikolak47 let me know if that worked for you

[2020-05-15 19:13] Nikolak47 commented on #162
@yiss Thanks for the example.
It works with banners, but I still can't make it work with interstitial ads...

[2020-05-15 19:36] yiss commented on #162
@Nikolak47 are you using your version or mine? Because in yours you haven't implemented targetingInfo for interstitial. I did it for the interstitial and reward ad you can check it on my github : https://github.com/yiss/admob_flutter the last commit is what you need. Waiting for the PR to be merged

[2020-05-15 19:51] Nikolak47 commented on #162
I'm using your version...
![image](https://user-images.githubusercontent.com/44589531/82090614-33004b80-96f6-11ea-9cb3-55ee8e9bf351.png)

[2020-05-15 19:55] yiss commented on #162
@Nikolak47 weird, can you show me the console output? Does it say anything?

[2020-05-15 20:00] Nikolak47 commented on #162
I think the problem with not showing interstitial Ads on the test device is 'Error: 3' (selected in red), because earlier when I was trying to load interstitial ad, it threw this error.
Also, after implementing this package, I started getting the getStreamVolume isRestricted mode = 0 (selected in blue).
![image](https://user-images.githubusercontent.com/44589531/82091311-698a9600-96f7-11ea-8e98-d0

[2020-05-15 20:16] yiss commented on #162
@Nikolak47 Erro 3 means that the request was successful but there is no Ad to serve this can be caused by many reasons. Can you test your interstitial with the one here : https://developers.google.com/admob/android/test-ads

[2020-05-15 20:21] Nikolak47 commented on #162
@yiss Thank you very much, it works!
There is probably a problem with the interstitial Ad I defined in my admob account.
Thanks again! :)

[2020-05-15 20:22] yiss commented on #162
Alright! That's good news to hear. Glad I can help

[2020-05-16 16:10] SenAlexandru opened #165 "Add the changes to Android Manifest in Readme"
Hi,
I believe it is important to specify in the readme file (here and in pub.dev) that the below changes need to be made in the AndroidManifest

<meta-data
    android:name="com.google.android.gms.ads.APPLICATION_ID"
    android:value="[ADMOB_APP_ID]"/>

Otherwise, the package works ok for me and thank you a lot for all your work!

[2020-05-16 16:24] hatemragab opened #166 "test ads still appear"
test ads still appear although change test app id to real android Admob app id  how can I fix

[2020-05-16 18:29] amanv8060 commented on #166
Can you show the code snippet?

[2020-05-19 23:02] yiss commented on #162
@cyberlahy yes by default it's non personalised, I made a PR waiting for it to be merged. You can check out my fork it contains the proper working version

[2020-05-20 05:15] cyberlahy commented on #162
@yiss I see your code and I think it's by default "personalized" and we need to precise if it is not. Or I am wrong?

[2020-05-20 08:21] yiss commented on #162
@cyberlahy by the default targetingInfo is not required, when specify targetingInfo property you're then doing a personalized ads, example :
If you do targetingInfo: MobileAdTargetingInfo() without specifying any targeting info it's not personalized, if you add something like gender, date... Then it becomes personalized ads. You can check here :https://support.google.com/admob/answer/7676680?hl=en

[2020-05-21 05:57] heshaShawky opened #168 "How to show a pre loading widget till the ad been loaded"
The ad because it's not loaded when my app starting shows a black box on the widget tree, is there an option to put some indicator or a widget as a preloading for a better look.

[2020-05-21 17:55] kmcgill88 commented on #165
I'll get this back into the readme in the next PR! Thank you!

[2020-05-21 17:55] #165 closed

[2020-05-21 18:33] kmcgill88 commented on #94
Adding this to README FAQ.

Technically the banner class is using `PlatformView` which handles disposing the view for you.

[code]

[2020-05-21 18:33] #94 closed

[2020-05-21 20:17] kmcgill88 commented on #168
Built into `admob_flutter`, no, sorry there isn't. You would have to implement that yourself.

[code]

See the example app for more details. https://github.com/kmcgill88/admob_flutter/blob/support-device-test-ids/example/lib/main.dart#L226

[2020-05-21 20:17] #168 closed

[2020-05-21 20:20] kmcgill88 commented on #166
Make sure you have Your `app id ` and your `adUnitId`'s set correctly, per Android and iOS.

[2020-05-21 21:30] kmcgill88 commented on #161
## Ensure you are using the correct `App Id + Ad Id` combinations per platform.

[example code](https://github.com/kmcgill88/admob_flutter/blob/master/example/lib/main.dart#L252)

You can use these test App ID's from Admob for development:
[code]

## Android Specific Setup
[code]

## iOS Specific Setup
Update your `Info.plist` per [Firebase instructions](https://developers.google.com/admob/ios/qui

[2020-05-21 21:31] #161 closed

[2020-05-21 21:34] kmcgill88 commented on #153
Try using the latest beta version please.

[2020-05-21 21:34] #153 closed

[2020-05-21 22:00] Skyost commented on #156
Wow nevermind. I have to say that Adaptive Ad is much faster than Smart Ad.

[2020-05-21 22:00] #156 closed

[2020-05-22 02:18] kmcgill88 commented on #79
Stale, closing.

[2020-05-22 02:18] #79 closed

[2020-05-22 02:20] kmcgill88 commented on #71
Test devices is now support in `1.0.0-beta.3`. https://github.com/kmcgill88/admob_flutter/pull/169

[2020-05-22 02:20] #71 closed

[2020-05-22 11:23] GuillaumeLacroix opened #170 "Cannot build on iOS"
Hi,

I am trying to set up CI/CD on CodeMagic on my project. Everything works fine for Android, however I cannot find a way to build on iOS with admob_flutter. I have reduced my project to a default main file with my full pubspec, and can build and publish if I remove admob_flutter from it, but cannot as soon as I add it again. I tried building with versions **0.3.4** and **1.0.0-beta.2**, which l

[2020-05-22 12:28] kmcgill88 commented on #170
This is building fine on Bitrise. Is your project based on Swift?

- Bitrise build machine to Xcode 11.5.x
- on macOS 10.15.4 (Catalina); Flutter 1.17.1

Also see https://github.com/kmcgill88/admob_flutter/issues/56

[2020-05-23 11:23] DeadlyMissile commented on #163
@kmcgill88
AdmobInterstitial _createInterstitial() {
 return AdmobInterstitial(
    listener: (AdmobAdEvent event, Map<String, dynamic> {
 if (event == AdmobAdEvent.failedToLoad) {
   print(“Ad failed to load”);
});
}
This never prints. The other events like loaded and closed work fine and print

[2020-05-23 22:35] GuillaumeLacroix commented on #170
The issue does seem to be the same as #56
My project is indeed based on Swift (not that I want to, I have no specific Swift code, it's more of a default I guess), is that a problem?

I tried the solution :

Which does not change anything - build still fails at the linking stage.

[2020-05-24 03:49] ZhangPingFan commented on #123
https://stackoverflow.com/questions/52244346/how-to-enable-swift-support-for-existing-project-in-flutter

[2020-05-24 10:49] maheshkumar2150 commented on #131
Same error. How did you fix it?

[2020-05-24 14:29] kmcgill88 commented on #123
@ZhangPingFan could you please PR this link to the README under FAQ please

[2020-05-25 13:46] kmcgill88 commented on #163
I guess I don't understand. Is this a problem? `AdmobAdEvent.failedToLoad` only fires when there is a failure to load the ad.

[2020-05-26 02:26] kmcgill88 commented on #123
Thanks @ZhangPingFan !

[2020-05-26 02:26] #123 closed

[2020-05-26 15:35] danielgchap commented on #161
Hi there,
yes I have performed all of this correctly. Should I be seeing them in my debug builds or do I need to release an apk signed build through the Google close/internal testing track in order to see them?

Thanks

[2020-05-28 12:00] danielgchap commented on #161
This was the resolution. Put an apk into the internal test track on your Google Play account (make sure it's published. Roll it out. Wait a few hours. Download that APK to your test device with your test account that you declared in the internal test testers section. Bam. Ads show up)

Thank you so much for making this pub and for continuing to support it!
God bless

[2020-05-28 19:55] hygehyge opened #172 "(Android) Unhandled Exception: MissingPluginException(No implementation found for method dispose on channel admob_flutter/banner_0))"
When I ran [1.0.0-beta.3 example app](https://github.com/kmcgill88/admob_flutter/blob/1.0.0-beta.3/example/lib/main.dart) and scroll the ListView, I got this exception.

[38;5;244mE/flutter (23122): #0      MethodChannel._invokeMethod[39;49m
E/flutter (23122): <asynchronous suspension>
[38;5;244mE/flutter (23122): #1      MethodChannel.invokeMethod[39;49m
[38;5;248mE/flutter (23122): #2      Admob

[2020-05-28 20:18] kmcgill88 commented on #163
No response. Closing.

[2020-05-28 20:18] #163 closed

[2020-05-28 20:23] kmcgill88 commented on #172
Does it do this on iOS?

I added [this](https://github.com/kmcgill88/admob_flutter/blob/1.0.0-beta.3/lib/src/admob_banner.dart#L93) and [here](https://github.com/kmcgill88/admob_flutter/blob/1.0.0-beta.3/lib/src/admob_banner_controller.dart#L16) in beta 3. I wonder if it is the issue.

[2020-05-28 23:08] hygehyge commented on #172
I don't have iPhone or Mac, so cannot check if this happens on iOS.

I'll attach repro ASAP.

[2020-05-29 15:17] hygehyge commented on #172
@kmcgill88
Here is repro.
[test_admob_flutter.zip](https://github.com/kmcgill88/admob_flutter/files/4702567/test_admob_flutter.zip)

I create this through the following steps.
&nbsp;1.Create new Flutter project in VSCode.
&nbsp;2.Add admob_flutter: ^1.0.0-beta.3 to pubspec.yaml.
&nbsp;3.Add meta-data tag with

android:value="ca-app-pub-3940256099942544~3347511713"

&nbsp;&nbsp;&nbsp;to AndroidMani

[2020-05-29 19:33] kmcgill88 opened #173 "Add Integration Tests"
- Need to add some driver integration tests to prevent regressions

[2020-05-29 19:35] kmcgill88 commented on #159
see https://github.com/kmcgill88/admob_flutter/issues/161

[2020-05-29 19:35] #159 closed

[2020-05-30 18:07] Skyost commented on #172
Same error here, using an Android Emulator. Haven't tested on iOS.

[2020-06-02 11:36] farhadsaberi commented on #172
same error on android - macos and widows

[2020-06-02 11:42] farhadsaberi opened #174 "java.lang.RuntimeException: Error during attachToGLContext (see logcat for details)"
**Run flutter doctor -v**
[code]

**The error log**

**Error code:**

[code]

**Error Trace**

[code]

[2020-06-02 17:14] johng2t opened #175 "The test ads not showing in real device using debugApk"
I am new to flutter, I used admob_flutter to display the ads in my application. It is working when I run `flutter run` in emulator, I am seeing the test ads. But when I do the same in real device the test ads are not showing. Guide me how to display the test ads in real device.

[2020-06-03 03:11] #172 closed

[2020-06-03 03:15] kmcgill88 commented on #172
Fixed in `1.0.0-beta.4`

[2020-06-03 05:31] hygehyge commented on #172
I check 1.0.0-beta.4 and Exception is gone !!
Thank you for  your quick response.

[2020-06-04 23:36] Skyost commented on #170
Same error here using a real Mac.

<details>
<summary>flutter run</summary>

[code]

</details>

<details>
<summary>flutter doctor</summary>

[code]

</details>

[2020-06-05 10:00] christian223 commented on #63
Thank you, that fixed the issue for me.

[2020-06-05 19:25] waseemahmed-za opened #178 "Add only showing on first page"
I am trying to use admob_flutter. The banner successfully displays on the first page. but when trying to re-use the same code:

//declared the bannerSize in the stateful widget
AdmobBannerSize bannerSize = AdmobBannerSize.BANNER;

//followed by the Ad

AdmobBanner(
                                adUnitId: getBannerAdUnitId(),
                                adSize: bannerSize,

[2020-06-06 20:20] #178 closed

[2020-06-06 20:21] waseemahmed-za commented on #178
submitted by mistake

[2020-06-07 09:15] njworks commented on #109
I know it might be late, but I had this problem recently with Admob_flutter, and I am not sure if it will work for you, but this worked for me: [https://stackoverflow.com/questions/52536380/why-linker-link-static-libraries-with-errors-ios](url)

To be more specific:
1. Open ios/YourAppName.xcodeproj in Xcode
2. Right-click on Your App Name in the Project Navigator on the left, and click New File…

[2020-06-10 08:17] ItzNotABug commented on #63
More info. on this:
I already had required arguments in `info.plist` but still there was an error.
What I was doing: using a `Visibility` widget as a parent and changed the visibility depending whether the ad was loaded or not, means the initial flag for visibility was set `false`.
But if I changed the initial value to `true`, the error was gone...

[2020-06-12 06:37] kpradeepkumarreddy opened #179 "Error in building flutter app"
I'm getting the following error while building flutter app. Can somebody help me in resolving this issue ??
A problem occurred configuring project ':admob_flutter'.

     Required by:
         project :admob_flutter > com.android.tools.build:gradle:3.3.0 > com.android.tools.analytics-library:shared:26.3.0 > com.google.guava:guava:26.0-jre

[2020-06-12 11:50] Skyost commented on #170
I've found no solution to this problem so far so I've created a new project using `flutter create myapp` and completely replaced the content of my old _ios_ folder by the content of _myapp/ios_ (except some custom files like _Info.plist_, _LaunchScreen_, _AppIcons_, ...).

It compiles perfectly now.

[2020-06-12 11:50] Skyost commented on #170
@GuillaumeLacroix I've found no solution to this problem so far so I've created a new project using `flutter create myapp` and completely replaced the content of my old _ios_ folder by the content of _myapp/ios_ (except some custom files like _Info.plist_, _LaunchScreen_, _AppIcons_, ...).

It compiles perfectly now.

[2020-06-12 22:25] EstherMar opened #180 "target platform.fuchsia is not yet supported by the plugin"
That's the error that throws in the place where the banner goes. Anyone know how can i handle this? Thank you very much.

[2020-06-13 13:44] kmcgill88 commented on #180
There is nothing to do here except add support for fushia. I have no intention of doing that but would welcome a pr if you are willing to take it on.

[2020-06-13 14:07] EstherMar commented on #180
But i'm not working in fuchsia.... i'm creating an application for Android... dunno why it's trying to handle that in fuchsia plataform....

[2020-06-14 12:24] Tirth7545 commented on #175
Please Share Your Code

[2020-06-15 10:47] JesseBIT opened #181 "Jumpy listview"
I have a listview.builder working of a firestore querysnapshot stream that builds a Card. Works fine and really smooth, but I wanted to add a Admob after every 3 cards so this was the perfect tool. I've done it by using a column in listbuilder, with the card created from the firestore data and then the admob below it if it's index is every 3rd. The list is so jumpy/jittery everytime scroll past an

[2020-06-15 14:04] cagri2017 commented on #122
I had a same issue! **Solved!** thanks @takekapp1990

[2020-06-15 20:17] umutonat opened #182 "Kotlin String cast error"
https://github.com/kmcgill88/admob_flutter/blob/d52a8858a6eff600a29357d0430993a666dc5966/lib/src/admob_banner_size.dart#L26

it should be marked as @required

[2020-06-17 09:44] cihadturhan opened #183 "Rewarded ads cannot load second time"
I'm trying loading another rewarded ad after first one is completed. But when I call `reward.load()` function, I see the following error:

`flutter: ADMOB AdmobAdEvent.failedToLoad, {errorCode: Request Error: Will not send request because ad has been used.}`

I checked why this happens. It looks like we need to destroy rewarded ad instance and recreate for  the next ad. See [here](https://stackove

[2020-06-17 09:53] cihadturhan commented on #183
Yes, creating new instance worked.
[code]
I think this needs to be fixed on swift code, but if someone needs a workaround, use the the code above.

[2020-06-17 13:56] eakdogan commented on #152
Can you tell me how you resolved this?

[2020-06-17 18:19] pazhut commented on #152
i had to remove the pod.lock file which caused new versions to get installed

[2020-06-17 23:36] RafiqCR7 opened #184 "Option to Mute Interstitial Ads"
Can we have an option to mute interstitial ads added please as I can see this annoying quite a few of our users?

[2020-06-18 06:57] tolgakartal commented on #146
same here

[2020-06-18 20:36] Rinat-Suleimanov commented on #109
Thanks, that's helped me to solve the issue

[2020-06-19 11:03] norbertkross commented on #175
facing this same issue. Anyone know how this can be fixed

[2020-06-19 12:56] kmcgill88 commented on #184
Is that an option exposed in the native SDKs?

[2020-06-19 13:03] RafiqCR7 commented on #184
I believe the SDK for android let's you do the below:
MobileAds.setAppMuted(true)

[2020-06-19 13:26] kmcgill88 commented on #184
Can you please link to both iOS and Android documentation for this. If you have the bandwidth PR's are always welcome 😄

[2020-06-19 13:56] kmcgill88 commented on #183
@cihadturhan thanks for investigating this. [The docs](https://developers.google.com/admob/ios/rewarded-ads#using_gadrewardedaddelegate_to_preload_the_next_rewarded_ad) state `GADRewardedAd is a one-time-use object`. I recently updated this api and it looks like the sdk changed from a reuse model to a one-time-use.

Need to double check the android side too.

If you have bandwidth, a PR would be a

[2020-06-19 14:33] cihadturhan commented on #183
It’s working fine without destroying the object. I even tested and released my app with a workaround above.
Unfortunately I don’t have too, but I’ll try after a week or so.
Thanks for the library. It’s amazing you provided a better alternative than google’s :)

[2020-06-19 16:41] RafiqCR7 commented on #184
I believe this is the relevant documentation for the ios SDK:
https://developers.google.com/admob/ios/global-settings

And this is the relevant documentation for the android SDK:
https://developers.google.com/admob/android/global-settings

[2020-06-20 13:50] Mouadabdelghafouraitali commented on #149
Does anyone have a solution to this issue.

[2020-06-20 14:20] kmcgill88 commented on #183
@cihadturhan I fixed this for iOS!

https://github.com/kmcgill88/admob_flutter/pull/185 will merge and publish beta update.

[2020-06-20 16:59] kmcgill88 commented on #183
🚀 https://pub.dev/packages/admob_flutter/versions/1.0.0-beta.5

[2020-06-20 16:59] #183 closed

[2020-06-20 17:01] kmcgill88 commented on #182
@umutonat could you elaborate on this? Can you provide steps to reproduce the cast error?

[2020-06-20 20:47] umutonat commented on #182
You can try following snippets
[code]

[2020-06-26 11:38] azzamjafri commented on #131
Facing same issue.... any solutions ?

[2020-06-26 22:01] thiagovargas commented on #118
Same problem here, but, i try to implement the solution from @hobiyazilim and the Google was blocked my ads.
So, can we solve this issue, please?

[2020-06-27 15:36] akmalviya03 opened #187 "Ad failed to load : 1"
Getting This error In android SDK version 28 with AndroidX compatibility. Widget Was working Fine with The testUnitId. But Not WIth my Ad unit. I

AdmobBanner(
                adUnitId: 'myId',
                adSize: AdmobBannerSize.BANNER,
              ),

[2020-06-28 14:20] kmcgill88 commented on #187
Error Code 1 : ERROR_CODE_INVALID_REQUEST
The ad request was invalid; for instance, the ad unit ID was incorrect.

This commonly suggests that the Ad Request implementation is not as per the SDK’s requirements - Resources like the  sample codes and sample apps provided in the developer documentation can help in implementing the functions correctly.

https://support.google.com/admob/thread/3494603?

[2020-06-28 14:20] #187 closed

[2020-06-28 15:10] akmalviya03 commented on #187
The ad unit Id is correct, I have tested that Ad Unit Id with firebaseadmob package provided by Google. By the way, plugin Is useful. Thank you for giving us this type of plugin. I hope you will fix this bug soon.

[2020-06-28 18:57] kmcgill88 commented on #187
@akmalviya03 this isn’t a bug with this package. Is your app id correct too? You should have app id for iOS and another for android. Same for unit ids.

[2020-06-28 20:32] akmalviya03 commented on #187
@kmcgill88 yes, app id is also correct. I am only developing an application for android using flutter. Does this plugin require iOS configuration for AdMob?

[2020-06-30 08:08] EliasDeuss commented on #187
@akmalviya03 I believe it does (if I remember correctly).

[2020-06-30 10:36] kellvembarbosa commented on #149
Do your application have an "iframe" or webview?
Usually when I receive this warning it is via webview (iframe) in the app ...

To solve the problem I launch an update and mark the problem as solved ...
90% of the time it works, and only when you have a webview and it doesn't work!

To mark it as resolved go to the policy center and click resolved, remember to send a new apk before ...

[2020-06-30 14:38] angel1st opened #188 "[Question] - widget region flickering"
Hi there and thanks for the amazing plugin! It's easy to use and implement.
I have however an issue.
Here is my code snippet, which creates the banner:

[code]
then, I simply call it from my widget `build` method e.g.:

[code]
however, at the moment, I call it, it takes a couple of seconds to execute and during the period, the area, which is supposed to be filled by the banner widget becomes black

[2020-06-30 15:16] kmcgill88 commented on #187
@akmalviya03 you should be able to run android only and skip iOS config if you don’t use it

[2020-07-01 19:30] rajeshjeshar commented on #124
@EliasDeuss I'm sorry i don't have idea about that,to be honest i've stopped implementing google ads

[2020-07-01 19:30] #124 closed

[2020-07-03 18:31] thesmartrenovation opened #189 "iOS 14 Beta, error"
Hi

In the iOS 14 beta the ads are not shown in the applications that are already published in the AppStore.

How can I fix this problem?

[2020-07-04 01:13] EliasDeuss commented on #189
@thesmartrenovation Could be a flutter issue with the package or a package issue. Flutter currently doesn't fully support iOS 14 yet (As it has only come out about a week and a half ago. @kmcgill88 We might have to do some testing to see exactly what is casing the issue.

[2020-07-07 00:09] camposFabio commented on #72
Same error here (Arch Linux,

Flutter 1.17.5 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 8af6b2f038 (6 days ago) • 2020-06-30 12:53:55 -0700
Engine • revision ee76268252
Tools • Dart 2.8.4

Pubspec.yaml
  admob_flutter: ^0.3.4

main:
import 'dart:io';

import 'package:flutter/material.dart';
import 'package:admob_flutter/admob_flutter.dart';

void main() {
  Widg

[2020-07-07 06:57] sutts101 opened #190 "Question: How to get height of an adaptive banner to inform layout"
Hey Kevin, great job with this plugin. I tried out the firebase_admob one and quickly understood why you saw the need for a more native flutter integration!

Question: For an adaptive banner, I specify the width and then admob decides the height. How can I get that height* (in flutter) to use as part of my layout calculations?

Any pointers gratefully received...

* I initially misread the adaptiv

[2020-07-07 11:30] JanNovakFRI commented on #181
Hello @JesseBIT, I have the same problem as you. Now I am playing with the source code and example code to find solution. I managed to stop ads from being destroyed by adding `AutomaticKeepAliveClientMixin` to `AdmobBanner` class in source lib and `addAutomaticKeepAlives: true`, `cacheExtent` to listview builder. Now once an ad is loaded scrolling up is smooth :), but scrolling down and loading ne

[2020-07-07 21:21] kmcgill88 commented on #189
I'm not overly worried about this. The public release of iOS 14 is a few months out still. I think we just need to keep an eye on this and see what Flutter does to fully support 14.

[2020-07-09 07:40] myriky opened #191 "UiKitView throw exception NoSuchMethodError in iOS"
I'm using 4 stateful screens in TabBarView.
some problem occur when touch somewhere in not included AdmobBanner screen after AdmobBanner rendered.

I think there is a problem with UIKitView.

admob_banner.dart
[code]

[code]

[code]
[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    • Android SDK at /Users/Riky/Library/Android/sdk
    • Platform android-29, build-

[2020-07-09 14:46] alvinkonda opened #192 "Disable logs"
Would it be nice to disable all of those logs from showing on the debug console

[2020-07-10 16:14] felixgabler commented on #181
I have the same issue.

[2020-07-11 11:41] namchuai opened #193 "iOS build cannot resolve dependencies"
Today, when I build the iOS version of my app, I faced the below issue:
It only happen on iOS, the Android version is built successfully. And after I remove admob_flutter, I can run pod update normally.

[code]

I'm using:
Flutter 1.17.5 • channel stable • https://github.com/flutter/flutter.git
admob_flutter: ^0.3.4
firebase_core: ^0.4.4+3
cloud_firestore: ^0.13.7

If more information are needed,

[2020-07-11 14:00] namchuai commented on #193
Note:
It works well on admob_flutter 1.0.0-beta.5

[2020-07-11 15:16] flutterkd opened #194 "Discouraged banner implementation"
https://support.google.com/admob/answer/6275345?hl=en&ref_topic=2936214

In this link they said vamner ad should not move as per user scroll
Then why this package ❓❓❓❓

[2020-07-11 16:34] kmcgill88 commented on #194
I have seen this documentation. The demo app needs to be updated. Nothing is stopping you from using the banner ad in other ways. I generally keep the banner fixed at the top or bottom of my apps.

[2020-07-12 11:18] anderspetersson commented on #183
Sorry to comment on a closed issue, but I'm experiencing the same issue on Android and version 1.0.0-beta.5

Any plans to apply the same fix to Android?

[2020-07-13 16:11] bgpastukh opened #195 "iOS banner ad preload"
Is it possible to preload banner? I want to see it loaded when i scrolled to it's position in my ScrollView.
I tried to do it in my initState() method, but receive "errorCode" -> 1 . Does it depend on widget size/visibility?

[2020-07-16 07:47] sutts101 commented on #190
D'oh, reading through the code I see this is already there

[code]

A mention of this in the wiki would be helpful...

[2020-07-16 07:47] #190 closed

[2020-07-16 14:15] kmcgill88 commented on #194
If anyone has capacity to update the demo app please PR. The banner needs to be fixed instead of in a list.

[2020-07-17 07:40] johng2t opened #196 "How to add a testDevice id's to test the ads in real device?"
I initialize the AdMob and with the appId, But I can't add testDeviceId's to test the ads in devices.
 ` Admob.initialize(getAppId());`
![image](https://user-images.githubusercontent.com/46560005/87761310-dd980600-c82e-11ea-9c10-8eb8e1a735b6.png)

Please advice on how to add testDevice and test the ads.

[2020-07-17 07:42] #175 closed

[2020-07-18 22:51] FNPCMDs opened #197 "Native ads"
Hey!
We would like to know when are you going to introduce Native Ads to your package. Could you give us an approximate date?

Greetings!!

[2020-07-19 18:33] vegidio commented on #110
@kmcgill88 Any update on this?

[2020-07-23 01:19] hyungtaecf commented on #24
Any solution yet?

[2020-07-24 11:56] felixgabler commented on #196
You need to be using the ^1.0.0-beta.5 version. The method signature changed from 0.3.x to 1.x

[2020-07-24 13:27] johng2t commented on #196
Sorry for not update my answer here, I have resolved it by switching to beta-version

[2020-07-24 15:09] #196 closed

[2020-07-25 08:49] bmabir17 commented on #192
Yeah, logs are showing up a lot.

[2020-07-25 08:53] bmabir17 opened #198 "App Slowdown after a while"
After adding ads to my app, it starts to slow down. At one point it becomes almost unusable. Anyone else having similar issues?

[2020-07-25 14:55] kmcgill88 commented on #192
Can you please post examples of the logs you are looking to suppress?

I'm assuming they are on the native code side?

[2020-07-27 10:45] Chirag-Chopraa commented on #192
Please add a option for whether to show debug logs or not

[2020-07-27 23:09] MrMagloire opened #199 "Reward Ads in admob_flutter prerelease"
Hello,
I use the last prerelease admob_flutter: ^1.0.0-beta.5 reward argument return always null

[2020-07-28 05:40] bmabir17 commented on #192
@kmcgill88
`I/chatty  (30244): uid=10416(com.mononai.facelens_admin_app) AdWorker(Defaul identical 2 line)`
This log gets printed over and over again

[2020-07-28 05:46] bmabir17 commented on #198
I have tested this extensively, it seems that if I add two ads in two consecutive screens then the app slows down. Now I am forced to use a limited number of ads. Tested using both combinations of `Banner` and `Interstitial` ads

[2020-07-29 16:46] kmcgill88 commented on #199
What have you tried?

[2020-07-30 18:07] angel1st commented on #188
Any updates on the matter?

[2020-07-31 07:37] dvird opened #200 "Should I open ad unit of banner or "Native advanced""
Right now im getting always error code 0, and i cant figured it out

[2020-07-31 07:53] #200 closed

[2020-08-01 02:04] dolanmiu commented on #109
This worked for me too

Does anyone know any idea why this works? It seems super random...

[2020-08-01 19:36] amanv8060 commented on #179
can you draw some more insights ?

[2020-08-02 05:38] Mohammad-ezzidden commented on #120
Solved by upgrading the package :
`admob_flutter:
    git:
      url: https://github.com/kmcgill88/admob_flutter.git`

[2020-08-03 01:56] #193 closed

[2020-08-03 02:06] kmcgill88 commented on #197
This currently isn't on my roadmap. If there are enough 👍 I'll consider adding it.

[2020-08-03 03:34] kmcgill88 commented on #194
Adding the direct quote from [admob docs](https://support.google.com/admob/answer/6275345?hl=en&ref_topic=2936214) `banner ads should not move as a user scrolls, as users may try to click on the menu but end up clicking on the ad accidentally instead. This specific implementation is against policy and we reserve the right to disable ad serving to your app.`

I'm in the process of refactoring the d

[2020-08-04 05:17] ADIBzTER opened #201 "Leaderboard Banner Ad not showing"
I implemented banner ads with leaderboard as the size. Yesterday it works but today nothing is showing. Other banner ads size works well.

[2020-08-04 14:54] Cubel89 opened #202 "[Question] How do I make the "onClick" or "onTab" in the banner work?"
I have managed to make the Banner show without any problem. But I can't get it to work properly because when the ad is clicked, nothing happens. Yours would be to open the advertiser's website, am I right?

[2020-08-04 15:23] ADIBzTER commented on #202
Have you checked whether the ads underlay of other invisible widgets?

[2020-08-04 15:27] Cubel89 commented on #202
To test, I have created an empty page with a Wigdet Center and inside the Widget the banner and still does not detect the click

[2020-08-04 15:31] ADIBzTER commented on #202
May you share your code here?

[2020-08-04 16:20] Cubel89 commented on #202
Yes of course. In an hour or so I can get home and copy the code.

I'm thinking there can be two things ...

1, I am testing on the latest version of Android and the same emulator ...

2, you may have some "consumer <Provider>" at materialAPP level.

El mar., 4 ago. 2020 a las 17:31, Adib Zaini (<notifications@github.com>)
escribió:

[2020-08-05 07:12] ADIBzTER commented on #201
Never mind. I implemented my own custom ad size that will follow screen's width. This is the code if you guys need it:
`class BuildBannerAd extends StatelessWidget {
  final AdmobBannerSize size;
  const BuildBannerAd({BuildContext context, this.size});

  @override
  Widget build(BuildContext context) {
    if (size == null) {
      return AdmobBanner(
        adUnitId: AdmobServices.bannerID,

[2020-08-05 07:12] #201 closed

[2020-08-05 14:01] kmcgill88 commented on #191
`The method '-' was called on null.` looks strange. I'm not sure what would cause this. Have you made any progress on it?

[2020-08-05 14:03] kmcgill88 commented on #180
If you are not on fuchsia then something is very wrong. What have you tried? Please provide more context.

[2020-08-05 14:08] kmcgill88 commented on #181
Per [Admob policy](https://support.google.com/admob/answer/6275345?hl=en&ref_topic=2936214), adding banners to scroll areas is a policy violation.

`banner ads should not move as a user scrolls, as users may try to click on the menu but end up clicking on the ad accidentally instead. This specific implementation is against policy and we reserve the right to disable ad serving to your app.`

Discus

[2020-08-05 14:17] JesseBIT commented on #181
what a shame. So many apps use that method of advertising, fb, twitter, reddit etc etc. Users are more than used to seeing Ads in scrollable content. I think it looks so much more proffesional than a static ad up top or bottom. :-(

[2020-08-05 14:24] kmcgill88 commented on #181
@JesseBIT I agree with you. I was honestly shocked to find this in the docs. If you are willing to risk the violation, you can go ahead and keep your scroll ads. Due to this policy, I won't be investigating the jumpy list. 😭

If you can find any other official docs contradicting this AdMob policy please share.

[2020-08-05 16:20] dhimant1990 opened #203 "A problem occurred configuring root project 'admob_flutter'."
* What went wrong:
A problem occurred configuring root project 'admob_flutter'.

[2020-08-05 17:08] kmcgill88 commented on #203
This looks like more of an Android + gradle issue than admob_flutter. I'd run a flutter clean and build again.

[2020-08-05 17:35] JesseBIT commented on #181
Reluctantly I may give this a go: https://pub.dev/packages/facebook_audience_network

Thanks for everything you done on this one @kmcgill88 . I raised the question on the official repo too.

[2020-08-05 17:49] kmcgill88 commented on #181
@JesseBIT can you please share a link to your question on their official repo? I'd like to follow that.

[2020-08-05 19:43] JesseBIT commented on #181
Probably worded more as a rant 😬

https://github.com/FirebaseExtended/flutterfire/issues/3105

[2020-08-05 21:19] dvird opened #204 "iOS Critical UI Bug - View Border Z is above all views"
![WhatsApp Image 2020-08-06 at 00 14 10](https://user-images.githubusercontent.com/42498461/89465221-6ba24500-d77a-11ea-88db-c23b7a10f8f6.jpeg)

[2020-08-06 07:39] henry2man commented on #118
I agree, showing & hidding ads is strictly prohibited by Google Admob policies because this behaviour may cause unwanted clicks on the ads.

Is there any other alternative? I'm experiencing this issue all the time.

[2020-08-06 12:17] kmcgill88 commented on #118
I don't believe this is an admob_flutter specific issue.

See:
https://github.com/flutter/flutter/issues/33511#issuecomment-665095165

Hopefully the fix landed in 1.20.0 release.

[2020-08-06 16:31] #203 closed

[2020-08-06 16:37] kmcgill88 commented on #203
@dhimant1990 Did you solve this?

[2020-08-06 16:56] dhimant1990 commented on #203
Yes, I resolved

I only updated my android app icon, and this issue was resolved

[2020-08-07 04:18] kpradeepkumarreddy commented on #179
This issue is resolved. [https://stackoverflow.com/questions/62360882/gradle-build-error-fatal-error-checker-qual-2-5-2-pom21-content-is-not-allo](url)

[2020-08-07 04:20] kpradeepkumarreddy commented on #179
This issue is resolved. [https://stackoverflow.com/questions/62360882/gradle-build-error-fatal-error-checker-qual-2-5-2-pom21-content-is-not-allo](url).  Clearing the cache fixed the issue.

[2020-08-07 04:20] #179 closed

[2020-08-10 10:37] tushar-upadhyay opened #206 "Hide banner ad when it is failed to load"
How can I hide the ad space when my banner ad failed to load???

[2020-08-11 16:56] dvird commented on #204
@kmcgill88 ?

[2020-08-16 20:00] chamodaranasinghe opened #207 "Module 'admob_flutter' not found"
App run successfully in debug and release mode. But when trying to build using Xcode or Archive using Xcode, Build failed with this error.

ios/Runner/GeneratedPluginRegistrant.m:10:9: Module 'admob_flutter' not found

flutter doctor -v
[✓] Flutter (Channel stable, 1.20.1, on Mac OS X 10.15.6 19G73, locale en-US)
    • Flutter version 1.20.1 at /Users/sd/Documents/DevTools/flutter
    • Framework

[2020-08-17 19:31] #207 closed

[2020-08-19 05:34] tushar-upadhyay commented on #206
Please respond...

[2020-08-19 06:07] vegidio opened #208 "Upgrade Google Mobile Ads SDK to version 7.64 to support iOS 14"
Apple will release a new transparency framework on iOS 14 that will prevent the ads to be shown if the app is not using at least version 7.64 of Google Ads SDK. The current version used by `admob_flutter` is 7.59.

More info can be found here: https://support.google.com/admob/answer/9997589

[2020-08-19 06:12] vegidio commented on #189
@kmcgill88 I just created a new issue #208 addressing this. This is related to the new framework that Apple added regarding tracking ads. But it seems that Google already worked on a solution for this issue on version 7.64 of their Mobile Ads SDK.

So, **in theory**, we just need to upgrade `admob_flutter` to use GMA SDK version 7.64 and ads should work again on iOS 14.

[2020-08-24 13:13] Skyost commented on #208
I'm gonna submit a pull request to fix this one.

[2020-08-25 08:38] teenking opened #210 "flutter build ios release error"
Dear Sir,
I have the errors while i build ios app.
Please see detail:

Xcode's output:
↳
    /Users/teen/flutter/.pub-cache/hosted/pub.dartlang.org/admob_flutter-0.3.4/ios/Classes/AdmobRewardPlugin.swift:25:35: warning: 'GADRewardBasedVideoAd' is deprecated: Use GADRewardedAd instead.
    Google AdMob publishers, follow instructions here: https://googlemobileadssdk.page.link/admob-ios-rewarded-mig

[2020-08-25 15:16] dikdableu commented on #207
could you give us how do you solve the issue

[2020-08-25 19:48] chamodaranasinghe commented on #207
It was my mistake. I opened Runner.xcodeproj instead of Runner.xcworkspace. Open Runner.xcworkspace, and build.

[2020-08-26 06:32] henry2man commented on #103
I agree, @kibhub you have to reserve some space for banners. Using these techniques can confuse users, is against AdMob rules, and may lead to your account being suspended.

[2020-08-27 14:07] EmiiFont commented on #208
why is the pull request not accepted yet?

[2020-08-27 15:14] Skyost commented on #208
@EmiiFont They need to review it (and add to that that Xcode 12 is required to compile it).

[2020-08-27 15:17] kmcgill88 commented on #208
@EmiiFont, (un)fortunately I have a full-time day job. I do this project on the side, as time allows. I will review this today, make sure the build is passing and publish a new version ASAP.

[2020-08-27 15:33] #103 closed

[2020-08-27 16:39] henry2man opened #211 "1.0.0-beta5 - Rewarded ads, "amount" parameter datatype (int on Android, double on iOS)"
Using prerelease 1.0.0-beta5 with rewarded ads I'm having issues processing reward config. The "args" map that contains the reward info (filled in AdMob) is not processed in the same way on Android and iOS. More exactly, the "amount" parameter, which natively is an integer, **is solved on Android as an int (correct) but as double on iOS (incorrect)**.

In my listener code I had this:

[code]

The

[2020-08-27 17:02] ZaunSupremoXV opened #212 "Ad failed to load : 3"
The ad appears only when the app is installed, then it is no longer able to load. The error Ad failed to load: 3 appears.

**ERROR**:
W/lab.lojasmacap( 5053): Accessing hidden method Lsun/misc/Unsafe;->compareAndSwapObject(Ljava/lang/Object;JLjava/lang/Object;Ljava/lang/Object;)Z (greylist, linking, allowed)
I/Ads     ( 5053): Ad failed to load : 3
I/flutter ( 5053): ################ FAILEDTOLOAD

[2020-08-28 09:51] hlj2722 commented on #212
me too.

[2020-08-28 20:20] #212 closed

[2020-08-29 10:00] Nik-Alex commented on #198
The issue is also reproduced on my apps.
This is very noticeable when banners contains ads with animation. If banners contain static ads, there is almost no issue. Also it is much more reproducible on older devices.
I think this problem is related to: https://github.com/kmcgill88/admob_flutter/issues/141

[2020-08-29 14:58] bmabir17 commented on #198
I was not able to test it using animated ads though it slows down even with static ones after a while when ads changes to a new one.

[2020-08-31 00:18] jabguru opened #213 "My banner ad isnt loading"
I've done all the necessary setup, added the app id to manifest, connected the app to firebase but i get this error

I/Ads     (12815): Ad failed to load : 3

Please help me out

[2020-08-31 00:24] jabguru commented on #206
Okay, what you can do is to use a ternary operator where you put the ad.

`bool showAd = true;
showAd ? "THEN YOUR AD HERE" : SizedBox.shrink();
`

You can then add a listener to your ad like this, taking AdmobBanner as example
`
AdmobBanner(
                    adUnitId: YourAdUnit,
                    adSize: AdmobBannerSize.FULL_BANNER,
                    listener: (AdmobAdEvent event, map){

[2020-08-31 15:57] pazhut opened #214 "Not compatible with latest Firebase packages upgrade"
Hi

i had updated to latest firebase_auth and firebase_storage packages and i am getting the following error on dependencies:[!] CocoaPods could not find compatible versions for pod "nanopb":
  In Podfile:
    admob_flutter (from `.symlinks/plugins/admob_flutter/ios`) was resolved to 0.3.4, which depends on
      FirebaseAnalytics (~> 6.1.3) was resolved to 6.1.3, which depends on
        nanopb (

[2020-09-01 02:23] #208 closed

[2020-09-01 02:25] kmcgill88 commented on #189
This is addressed in #208

[2020-09-01 02:25] #189 closed

[2020-09-01 03:04] kmcgill88 commented on #214
@pazhut try using one of the pre-release versions like `1.0.0-beta.6`

[2020-09-01 10:53] praharshbhatt commented on #214
Similar issue here:

[code]

My firebase dependencies:

[code]

[2020-09-01 12:39] kmcgill88 commented on #214
Have you tried what the error suggested?

Also may need to run flutter clean.

[2020-09-01 12:52] pazhut commented on #214
Tried all of this nothing works, you will need to update your plugin to
match other firebase plugins

Thanks

On Tue, Sep 1, 2020, 8:40 AM Kevin McGill <notifications@github.com> wrote:

[2020-09-01 14:58] Skyost commented on #213
@jabguru See the second item of the [FAQ](https://github.com/kmcgill88/admob_flutter#faq).

[2020-09-01 15:34] karthikjn01 commented on #214
I am having the same issue. My issue is with the analytics, here is the error:
`
[!] CocoaPods could not find compatible versions for pod "Firebase/Analytics":
  In Podfile:
    admob_flutter (from `.symlinks/plugins/admob_flutter/ios`) was resolved to 1.0.0-beta.5, which depends on
      Firebase/Analytics (~> 6.30)

    firebase_analytics (from `.symlinks/plugins/firebase_analytics/ios`) was res

[2020-09-01 15:39] kmcgill88 commented on #214
@karthikjn01 what does your environment look like? I don't know of a work around off th top of my head. If you igure one out PR's welcome.

[2020-09-01 21:00] felixgabler commented on #214
I have the exact same problem

[2020-09-02 02:40] #213 closed

[2020-09-02 02:41] jabguru commented on #213
Solved. I just had to wait.

[2020-09-02 14:22] kmcgill88 commented on #214
I added

[code]

to the example app and `flutter pub get` worked fine. 😕

I'll do some more testing.

Maybe try these steps?
- ` flutter clean`
-  Delete `Podfile.lock` in ios folder
- `flutter run`

[2020-09-02 14:33] sharokh1 commented on #214
It is not working for me..

`    [!] CocoaPods could not find compatible versions for pod "Firebase/Analytics":
      In Podfile:
        admob_flutter (from `.symlinks/plugins/admob_flutter/ios`) was resolved to 1.0.0-beta.6, which depends on
          Firebase/Analytics (~> 6.30)

        firebase_analytics (from `.symlinks/plugins/firebase_analytics/ios`) was resolved to 6.0.0, which depends on

[2020-09-02 16:29] reijerteunis commented on #214
@sharokh1 thanks a lot this worked.

Can we fix this in the next version?
I wonder is this module ready for iOS 14

[2020-09-04 08:56] Toolenaar commented on #214
Having this issue aswell, tried all the options above to fix it but this does not work for my configuration. I use almost all firebase services in my app. Any ETA on an update of the package?

[2020-09-04 12:41] kmcgill88 commented on #214
I was able to reproduce this on a small app of mine. I will keep working the issue and

[code]

@sharokh1 glad you found a work-a-round!

@Skyost I see the ios analytics version was lowered in [this commit](https://github.com/kmcgill88/admob_flutter/commit/d496bd011e8a4e63fff56903c2a346f0b4ed4fe6#diff-74ff245657658c37fa9ea3db1de745a8R21) I wonder if we can just leave off the version for `Firebase/

[2020-09-04 18:35] Skyost commented on #214
@kmcgill88 In fact, while updating `Google-Mobile-Ads-SDK` I also updated `Firebase/Analytics` at the same time (so that all dependencies are up-to-date). But those are independant, so I think you can downgrade `Firebase/Analytics` without any problem.

[2020-09-05 05:58] kmcgill88 commented on #214
For those who can't wait this is the commit that has an open PR.

[code]

it will be rolled to beta 7 when all ci checks out ✅

[2020-09-05 12:56] SoftWyer commented on #214
And a slightly different url syntax for those struggling with the above:
[code]

[2020-09-05 13:32] kmcgill88 commented on #214
Added [PR comment](https://github.com/kmcgill88/admob_flutter/pull/216/files#r483951395) as a post-mortem of the issue.

[2020-09-05 13:33] #214 closed

[2020-09-05 14:14] kmcgill88 commented on #214
[Beta 7](https://pub.dev/packages/admob_flutter/versions/1.0.0-beta.7) is available now!

[2020-09-05 14:56] Arie290698 opened #217 "Does admob_flutter support ad mediation?"
I'm using admob_flutter as an ad viewer for my app, and I'm trying to use the mediation feature in Admob. But the result is not a single advertisement that is displayed from the mediation.
So I thought "looks like admob_flutter doesn't support mediation". But I like admob_flutter more than other plugins, so I hope you can add a mediation feature.

[2020-09-05 15:27] dynacorp commented on #214
<img width="1000" alt="Screen Shot 2020-09-05 at 4 26 40 PM" src="https://user-images.githubusercontent.com/20915993/92308310-a7584680-ef94-11ea-8edf-108ecbb9f3d9.png">
getting this error when running building ios

[2020-09-05 16:00] SoftWyer commented on #214
I believe this needs [Xcode 12 (beta)](https://developer.apple.com/download/) to resolve this. At least that was one of the steps I took, along with making sure Crashlytics was updated to the latest beta too.

[2020-09-05 17:19] Skyost commented on #214
SoftWyer is right, you need Xcode 12 to build the latest versions. It's written in the [changelog](https://pub.dev/packages/admob_flutter/versions/1.0.0-beta.7/changelog#100-beta6---20200831). I can only suggest you to wait for the official release of Xcode 12 (should happen at mid / end of september) before updating to the latest Betas of this plugin.

It's not you, it's painful (and expensive) t

[2020-09-06 17:50] th3blackscare opened #218 "Issue when Using the Admob Plugin with Firebase Messaging plugin in IOS"
when using this plugin or firebase admob plugin with firebase messaging i face an issue while building IOS
flutter run result :
`Launching lib/main.dart on iPhone 11 Pro Max in debug mode...
Running pod install...
CocoaPods' output:
↳
      Preparing

    Analyzing dependencies

    Inspecting targets to integrate
      Using `ARCHS` setting to build architectures of target `Pods-Runner`: (``)

[2020-09-06 18:55] #218 closed

[2020-09-07 22:15] ymoussaba commented on #218
How did you solve that?

[2020-09-09 13:21] santomegonzalo opened #219 "error: no such module 'AppTrackingTransparency'"
Hi, I just updated to the latest beta version `beta-7` and after cleaning everything and running `pod update` I'm constantly getting the following error:

[code]

Do you have any idea how to solve this error?

[2020-09-10 03:48] kmcgill88 commented on #219
Beta 7 requires xcode 12 per the change log

[2020-09-14 09:34] faisal-ismail opened #220 "test device ids"
there is no option for adding test device ids for testing purposes.

[2020-09-14 10:50] nixxxon commented on #220
Hi,

It seems to be missing from the README but check the example:
https://github.com/kmcgill88/admob_flutter/blob/97003f89ec9115503fe26d9ebe4bf095512bbd95/example/lib/main.dart#L15

[2020-09-14 14:20] machkonti commented on #220
And yet there is no option to add test devices ...

'admob.dart'
import 'package:flutter/services.dart';

class Admob {
  Admob.initialize(String appId) {
    MethodChannel _channel = const MethodChannel('admob_flutter');
    _channel.invokeMethod('initialize', appId);
  }
}

[2020-09-14 21:32] jagomf commented on #194
I understand that ads should not move **on their own or in a different pace than the scroll itself**, so that users do not click accidentally. It is not possible to click *accidentally* if the banners are "fixed" in a list, each one in a position, so I don't see any problem with the implementation of this package.

@kmcgill88 is `AdmobBanner` implementation expected to change? I currently have ban

[2020-09-14 22:08] jagomf commented on #181
Just replied to #194.
IMHO the interpretation of «banner ads should not move as a user scrolls» does *not* include banners which are actually fixed to a position in a list, and thus not actually moving other than all the content.

Google themselves actually do sell that kind of banners in platforms of theirs such as Blogspot blogs.

Please @kmcgill88 do not disable the ability to place banners in

[2020-09-14 22:20] pav3lo commented on #220
That is not possible: it just support for appId, no testDevicesId
Admob.initialize(appId);

[2020-09-15 13:12] nixxxon commented on #220
Looks like it was added in `1.0.0-beta.3`:
https://github.com/kmcgill88/admob_flutter/commit/6ce5a9451c2f19fd9342c80610c0dd779aa3ea66

[2020-09-16 02:56] mig35 commented on #198
Have the same issue. Application performance is slowing down after a while especially if it was set to background for some time.

[2020-09-17 22:08] Potolski commented on #188
I'm also having the same problem. I use banner ads on multiple tabs and every time I switch tabs, a black flickering happens on the area of the ad

[2020-09-17 23:50] shinayser opened #221 "Rewarded ads not showing"
Hello!

The banners are working fine, but the rewarded, not showing up. This is my test code:

[code]

### My Log:

[code]

As you can see, the ads is being loaded up but not showing =(
I am using `admob_flutter: ^1.0.0-beta.7`

[2020-09-18 06:55] ming-chu commented on #221
Maybe related to iOS 14, did you add the UsageDescription?

[2020-09-18 13:43] shinayser commented on #221
Nope, it's Android!

[2020-09-19 12:56] ming-chu commented on #221
@shinayser  sorry, about that

@shinayser I recommend you try to show the ad `rewardAd.show(); ` in the listener instead of check isLoaded immediately if you want to show after it loaded because the isLoaded computed variable seems not waiting for the ad finish it's fetching process.

[code]

[2020-09-19 22:52] shinayser commented on #221
@ming-chu Jsut tried your solution and nope, it also doesnt work =(

[2020-09-20 01:19] ming-chu commented on #221
@shinayser Would you please post the code after you modified? Also, the log you posted show the ad was loaded successfully.

[2020-09-20 11:05] chris-rutkowski commented on #195
I would also like this functionality, preload banner model, pass the ready model to banner

[2020-09-20 17:36] ashishbeck opened #222 "Performance issues of banner ad with animations package or any other animated transitions"
The release version has major performance issues when a new page with the admob banner is loaded. The widget itself is causing this issue. In my case, I have the AdmobBanner() sitting in a class which gets called during init.State of any page and is put in the bottomNavigationBar of the Scaffold(). My home screen has a container transition from the animations package to open up some cards in a lis

[2020-09-22 13:36] kmcgill88 commented on #219
I've published `1.0.0` and as stated in the changelog required Xcode 12.

[2020-09-22 13:36] #219 closed

[2020-09-22 13:41] kmcgill88 commented on #220
Correct, `Admob.initialize(testDeviceIds: ['YOUR DEVICE ID']); ` if you want to use test devices and `Admob.initialize();`  if not. Version `1.0.0` is now published.

[2020-09-22 13:41] #220 closed

[2020-09-22 13:45] kmcgill88 commented on #210
Try again with version `1.0.0` and Xcode 12.

[2020-09-22 13:45] #210 closed

[2020-09-22 13:47] kmcgill88 commented on #211
@henry2man thanks for reporting this. Do you have bandwidth to PR a fix for this to make things consistent?

[2020-09-22 13:55] kmcgill88 commented on #170
Stale, closing.

[2020-09-22 13:55] #170 closed

[2020-09-22 13:56] kmcgill88 commented on #160
@klikpaspor is this still an issue on version `1.0.0`?

[2020-09-22 13:57] kmcgill88 commented on #12
stale, closing.

[2020-09-22 13:57] #12 closed

[2020-09-22 13:58] kmcgill88 commented on #16
stale, closing.

[2020-09-22 13:58] #16 closed

[2020-09-22 14:03] kmcgill88 commented on #130
I've experimented with this on branch [web-support](https://github.com/kmcgill88/admob_flutter/tree/web-support). I feel like I'm close but no cigar.

[2020-09-22 14:11] henry2man commented on #211
Honestly I don't have much experience with native iOS development (I suspect this needs some Swift/Objective C tweaking).

I will try to fix it but I cannot promise anything 😅

[2020-09-23 10:30] Arie290698 commented on #221
I'm also having the same problem. I've tried to use the test id from Google, but the ad is still not showing. I've changed the algorithm, it's still not showing.

[2020-09-23 11:31] Skyost commented on #211
Hey @henry2man, I can help you on this one if you want :wink:

[2020-09-23 15:46] ming-chu commented on #221
@Arie290698 Would you please provide the code that can reproduce the problem? That will be easier to check and discuss. :)

[2020-09-23 15:51] shinayser commented on #221
Sorry for the late response. Here it goes:

[code]

[2020-09-23 16:14] ming-chu commented on #221
@shinayser I guess the instance of AdmobReward does not exist after the function is finished before the ad loaded.
you should define the variable `AdmobReward rewardAd;` outside the function

[2020-09-23 16:21] ming-chu commented on #221
@shinayser I tried using a new project with the code below and it works.
pubspec.yaml: `admob_flutter: ^1.0.0-beta.7`
[code]

[2020-09-23 16:23] shinayser commented on #221
This is not true. The variable exists, otherwise it would throw a null pointer exception

[2020-09-23 16:32] ming-chu commented on #221
@shinayser I tried your code, but the listener of `AdmobReward` never called.

[2020-09-23 16:36] shinayser commented on #221
@ming-chu There isn't much difference from the code you posted. You doign almost the same thing as I, except that I am doing it via future Completer. Perhaps it is another bug on the library?

[2020-09-23 17:32] ming-chu commented on #221
@shinayser You are right!

After some tests, I suspect that is the problem at the listener, I move the listener out and it works.
please try the code below.
[code]